<!-- <div data-swiper-marquee data-swiper-marquee-loop="false" id="siper-3" data-swiper-marquee-from="0" data-swiper-marquee-to="-600">
    <div class="swiper">
        <div class="swiper-wrapper">
            <h3 class="swiper-slide swiper-marquee__content__part text-stroke"> CAREFULY </h3>
            <h3 class="swiper-slide swiper-marquee__content__part text-stroke"> CRAFTING  </h3>
            <h3 class="swiper-slide swiper-marquee__content__part text-stroke">  THINGS   </h3>
            <h3 class="swiper-slide swiper-marquee__content__part text-stroke">  SINCE  </h3>
            <h3 class="swiper-slide swiper-marquee__content__part text-stroke"> 2008  </h3>
        </div>
    </div>
</div> -->


  <div data-marquee  data-marquee-start="0" data-marquee-end="-300" class="marquee" data-scroll-section>
    <div data-marquee-container  class="marquee__content entity">
        <h3 data-marquee-item class="marquee__content__part text-stroke"> CAREFULY CRAFTING THINGS SINCE 2008 CAREFULY CRAFTING THINGS SINCE 2008</h3>
    </div>
  </div>