<!-- data-scroll-rotate -->
<svg 
data-scroll-rotate
 class="stamp" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500">
    <title>Visit Site Link</title>
  <defs>
      <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle">
          <!-- <animateTransform
              attributeName="transform"
              begin="0s"
              dur="30s"
              type="rotate"
              from="0 250 250"
              to="360 250 250"
              repeatCount="indefinite" 
              /> -->
      </path>
  </defs>
      <text class="stamp__asterisk"  dx="0" dy="0">
          *
      </text>
      <text class="stamp__text" dx="0" dy="0" textLength="1220">
          <textPath xlink:href="#textcircle">Carefuly crafting things since 2008 •</textPath>
      </text>
  </svg>