{{ define "main" }}

<div class="visuals page page--with-bottom-border bg-orange">
    <div class="page__background"></div>

    <div class="visuals__container" data-scroll-container-horizontal>
        <div class="visuals__container-content">
            <div class="visuals__container__introduction">
                <h1 class="visuals__container__introduction__title">
                    <span class="word"><span class="word__content">Visuals.</span></span>
                </h1>
                <p class="visuals__container__introduction__desc">A Showcase of <b>decontextualized visual projects</b> from company branding to photography.</p>
            </div>
            <div class="visuals__container__galleries">
                {{ range .Pages }} 
                    {{$title := .Title }}
                    {{ $.Scratch.Set "counter" 0 }}
                    {{ with .Resources.ByType "image" }}
                        {{ range . }}
                            {{ if not (in . "exclude") }}
                                {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
                            {{ end }}
                        {{ end }}
                    {{ end }}

                    <a href="{{ .RelPermalink }}" class="visuals__container__gallery-item nav-link">
                        {{ $images := .Resources }}
                        {{ with .Resources.ByType "image" }}
                            {{ range first 1 . }}
                                <section class="visuals__container__gallery-item__image three-dimensional-hover">
                                    <div class="visuals__container__gallery-item__image__canvas"></div>
                                    <div class="visuals__container__gallery-item__image__info-overlay">
                                        <header class="visuals__container__gallery-item__image__info-overlay__content">
                                            <h2 class="visuals__container__gallery-item__image__info-overlay__content__title">
                                                <span>{{ $title }}</span>
                                            </h2>
                                            <p class="visuals__container__gallery-item__image__info-overlay__content__desc">
                                                <span>{{$.Scratch.Get "counter"}} images</span>
                                            </p>
                                        </header>
                                    </div>
                                    {{ partial "responsive-image" (dict "Site" $.Site "image" . "attrs" (dict "class" "portfolio-photo" )) }}
                                </section>
                            {{ end }}
                        {{ end }}
                        <!-- <div class="visuals__container__gallery-item__content hidden">
                            <h3 class="visuals__container__gallery-item__content__title">{{ .Title }}</h3>
                            {{ with .Params.tags }}
                                {{ range . }}
                                    {{ $href := print (absURL "tags/") (urlize .) }}
                                    {{ . }}
                                {{ end }}
                            {{ end }}
                            <p class="visuals__container__gallery-item__content__summary">{{ .Summary | replaceRE "<p>" "" | safeHTML }}</p>
                        </div> -->
                    </a>
                {{ end }}
            </div>
        </div>
    </div>
    <script>
            $(function() {


                window.locomotiveScroll = new LocomotiveScroll({
                    el: document.querySelector("[data-scroll-container-horizontal]"),
                    smooth: true,
                    direction: "horizontal"
                });


                    var timeline = anime.timeline({
                    loop: false,
                    duration: 400,
                    });

                    anime.set(".word__content", {
                    translateY: "+=100px",
                    });

                    anime.set(".visuals__container__introduction__desc", {
                    translateY: "+=25px",
                    opacity:0
                    });

                    anime.set(".visuals__container__gallery-item", {
                    translateY: "+=25px",
                    opacity:0
                    });

                    var animation = timeline
                    .add({
                        targets: ".word__content",
                        duration: 300,
                    })
                        .add({
                        targets: ".word__content",
                        translateY: "-=100px",
                        easing: "easeOutQuart",
                        delay: anime.stagger(50),
                    })
                    .add({
                        targets: ".visuals__container__introduction__desc",
                        translateY: "-=25px",
                        easing: "easeOutQuart",
                        opacity:1,
                        delay: 100,
                        duration:250
                    }, "-=300")
                    .add({
                        targets: ".visuals__container__gallery-item",
                        translateY: "-=25px",
                        opacity:1,
                        duration:450,
                        easing: "easeOutQuart",
                        delay: anime.stagger(150),
                    }, "-=200");

                $(".three-dimensional-hover").mousemove(function (e) {
                    const force = 5;
                    const height = $(this).width();
                    const width = $(this).height();
                    var xVal = e.pageX - $(this).offset().left;
                    var yVal = e.pageY - $(this).offset().top;
                    const yRotation = force * ((xVal - width / 2) / width);
                    const xRotation = -force * ((yVal - height / 2) / height);
                    const string =
                    "perspective(500px) scale(1.03) rotateX(" +
                    xRotation +
                    "deg) rotateY(" +
                    yRotation +
                    "deg)";
                    $(this).css("transform", string);
                });

                $(".three-dimensional-hover").on("mouseout", function () {
                    $(this).css(
                    "transform",
                    "perspective(500px) scale(1) rotateX(0) rotateY(0)"
                    );
                });
            });
    </script>
{{- partial "js.html" . -}}
</div>
{{ end }}
