{{ define "main" }}

  <div class="section section--with-padding container mx-auto">

    <div class="section__content">
      <h1 class="heading-1"> {{ .Title }} </h1>
      <a data-nav-link href="/">Back</a>

      <div class="grid vr-mt-4">
      
        <div class="grid-col grid-col--1"></div>
        <div class="grid-col grid-col--2"></div>
        
        {{range .Site.RegularPages}}

            {{if eq .Title "Projects"}} 
            
            {{ with .Resources.ByType "image" }}
                {{ $len := len . }}
                
                {{ range $i, $image := . }}
                    {{ if not (in . "exclude") }}
                    <div class="grid-item" id="{{$i}}-image">
                        {{ partial "responsive-image" (dict "Site" $.Site "image" $image) }}
                    </div>
                    {{ end }}
                {{ end }}

            {{ end }}

            {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{- partial "js.html" . -}}
{{ end }}