{{ define "main" }}


<div class="section">

    <div class="section__content">

        <div class="my-slider">

            {{ range where .Site.RegularPages "Type" "projects" }}
                <div class="slide">
                    <div class="slide__content">
                    {{ $images := .Resources }}
                    {{ with .Resources.ByType "image" }}
                        {{ range first 1 . }}
                            {{ partial "responsive-image" (dict "Site" $.Site "image" .) }}
                        {{ end }}
                    {{ end }}
                    
                    <div class="slide__content__infos">

                        <span class="slide__content__infos__label">
                            {{ with .Params.tags }}
                                {{ range . }}
                                    {{ $href := print (absURL "tags/") (urlize .) }}
                                    {{ . }}
                                {{ end }}
                            {{ end }}
                        </span>
                        <h3 class="slide__content__infos__title">{{.Title}}</h3>
                        <span class="slide__content__infos__misc">{{.Title}} | {{  .PublishDate.Format "January 2, 2006" }}</span>
                    </div>

                </div>
            </div>
            {{ end }}

        </div>

    </div>
</div>


{{- partial "js.html" . -}}

{{end}}