{{ define "main" }}
    {{- partial "header.html" . -}}
    <div class="page page--with-bottom-border projects bg-blue" >

        <div>
            <div class="page__background"></div>

            <div data-scroll-section class="projects__header">
                <div class="projects__header__content">
                    <h1 data-scroll data-scroll-speed='0.5' class="projects__header__title word">
                        <span class="word__content">Projects.</span>
                    </h1>
                    <div class="projects__header__illustration">
                        <div data-scroll data-scroll-speed='2' id="text-start" class="">
                            {{ readFile "static/images/projects-type.svg" | safeHTML }}
                        </div>
                    </div>   
                    <div class="invite-to-scroll"></div>             
                </div>
            </div>


            {{ range $index, $element := .Pages }}
                <div data-scroll-section id="project-{{$index}}" class="projects__project projects__project-{{$index}}">
                    <h3 class="projects__project__index">0{{add $index  1 }}.</h3>
                    <a class="projects__project__content nav-link" href="{{ .RelPermalink }}">
                        <div class="projects__project__content__info">
                            <h3 data-scroll data-scroll-offset="15%" data-scroll-class="is-in-viewport" class="projects__project__content__info__title fade-in-top">{{ .Title }}</h3>
                            <span  data-scroll data-scroll-offset="15%" data-scroll-class="is-in-viewport" class="projects__project__content__info__tag fade-in">
                                {{ with .Params.tags }}
                                    {{ range . }}
                                        {{ $href := print (absURL "tags/") (urlize .) }}
                                        {{ . }}
                                    {{ end }}
                                {{ end }}
                            </span>
                            <p data-scroll data-scroll-offset="15%" data-scroll-class="is-in-viewport" class="projects__project__content__info__desc fade-in-top">{{ .Description | replaceRE "<p>" "" | safeHTML | markdownify }}</p>
                        </div>
                        {{- $images := (.Page.Resources.Match (printf "%s*" "images/background")) -}}
                        {{ range $images }}
                            <div data-scroll data-scroll-delay='0.1' data-scroll-speed='1.2' data-scroll-offset="25%, 25%" data-scroll-class="is-in-viewport" class="projects__project__content__image">
                                <div class="projects__project__content__image__img">
                                    <div data-scroll data-scroll-speed='-1.05' class="projects__project__content__image__img__bg" style="background-image:url({{.RelPermalink}})"></div>
                                </div>
                                <!-- <div data-scroll data-scroll-delay='0.1' data-scroll-speed='1.5' class="projects__project__content__image__square"></div> -->
                            </div>
                        {{ end }}
                        </a>
                </div>
            {{ end }}

            <div data-scroll-section class="projects__footer">
                <div class="" >
                    <h2 data-scroll  data-scroll-offset="25%, 25%" data-scroll-call="popTitle" data-scroll-class="is-in-viewport" class="projects__footer__title">
                        <span class="word"><span class="word__content">And</span></span>
                        <span class="word"><span class="word__content">more.</span></span>
                    </h2>
                    <a data-scroll data-scroll-class="is-in-viewport" data-scroll-offset="25%, 25%"  id="orange" class="nav-link button fade-in-top" href="/visuals" ><span class="button__content">Give a look</span></a>
                </div>
            </div>
        </div>
    </div>
     
        <script>

            $(function() {
                window.locomotiveScroll2 = new LocomotiveScroll({
                    el: document.querySelector("[data-scroll-container]"),
                    smooth: true,
                });

                window.locomotiveScroll2.on("call", function (func) {
                    window[func]();
                });

                var timeline = anime.timeline({
                loop: false,
                duration: 400,
                });

                anime.set("h2 .word__content", {
                    translateY: "+=180px",
                });

                window.popTitle = function() {
                    console.log(1);
                    anime.timeline({duration: 400}).add({
                        targets: "h2 .word__content",
                        translateY: "-=180px",
                        easing: "easeOutQuart",
                        delay: anime.stagger(50),
                    }, );
                };

                anime.set(".word__content", {
                    translateY: "+=160px",
                });

                anime.set(".invite-to-scroll", {
                    opacity: "0",
                });

                var animation = timeline
                .add({
                    targets: ".projects__header__illustration svg path",
                    duration: 300,
                })
                .add({
                    targets: ".projects__header__illustration svg path",
                    strokeDashoffset: [800, 0],
                    easing: "easeOutQuart",
                    duration: 2000
                }, "+=300")
                .add({
                    targets: ".word__content",
                    translateY: "-=160px",
                    easing: "easeOutQuart",
                    delay: anime.stagger(50),
                }, "-=1800")
                .add({
                    targets: ".invite-to-scroll",
                    opacity: "1",
                    easing: "linear",
                    duration: 200
                })
            });

        </script>
    </div>
{{ end }}
