
{{ define "main" }}
    {{- partial "header.html" . }}

    <div class="page page--without-padding bg-blue">
        <div class="page__background"></div>
        <div class="project" data-scroll-container>
            <div class="project-hero">
                <div class="project-hero__content">
                    <div class="project-hero__content__invite-to-scroll invite-to-scroll-with-text"></div>
                    <h1 class="project-hero__content__title">
                        {{ $test := split .Title " "}}
                        {{range $test }}
                            <span class="word">
                                <span class="word__content">
                                    {{.}}
                                </span>
                            </span>
                        {{end}}
                    </h1>
                    <div class="project-hero__content__misc">
                        <div class="project-hero__content__misc__type">
                            <div class="project-hero__content__misc__border"></div>
                            <div class="project-hero__content__misc__content">
                                <span class="project-hero__content__misc__label"> Type</span>
                                <!-- <a class="nav-link" href="{{ .Site.BaseURL }}projects">projects</a> · -->
                                {{ with .Params.tags }}
                                    {{ range . }}
                                        {{ $href := print (absURL "tags/") (urlize .) }}
                                        {{ . }}
                                    {{ end }}
                                {{ end }}
                            </div>
                        </div>
                        <div class="project-hero__content__misc__client">
                            <div class="project-hero__content__misc__border"></div>
                            <div class="project-hero__content__misc__content">
                                <span class="project-hero__content__misc__label"> Client</span>
                                <!-- <a class="nav-link" href="{{ .Site.BaseURL }}projects">projects</a> · -->
                                {{ with .Params.client }}
                                        <span class="tag">{{ . }}</span>
                                {{ end }}
                            </div>
                        </div>
                        <div class="project-hero__content__misc__deliverables">
                            <div class="project-hero__content__misc__border"></div>
                            {{ $number := int .Params.number}}
                            {{ $svgpath := print "static/images/0" $number ".svg" }}
                            {{ readFile $svgpath | safeHTML }}
                            <div class="project-hero__content__misc__content">
                                <span class="project-hero__content__misc__label"> Deliverables</span>
                                {{ range $i, $e := .Params.roles }}{{ if $i }}, {{ end }}<span class="tag">{{ $e }}</span>{{ end }}
                            </div>
                        </div>
                    </div>
                    <!-- <span class="project-hero__content__date">{{ .PublishDate.Format "2006" }}</span> -->
                </div>
            </div>
            <div class="container project__container">
                {{ .Content }}
                <!-- <div class="project-nav" data-scroll data-scroll-offset="25%" data-scroll-class="is-in-viewport" >
                    <div>
                        <h2 data-scroll data-scroll-offset="25%" data-scroll-call="popTitle" data-scroll-class="is-in-viewport" class="project-nav__title">
                            <span class="word">
                                <span class="word__content">
                                    Other
                                </span>
                            </span>
                            <span class="word">
                                <span class="word__content">
                                    projects.
                                </span>
                            </span>
                        </h2>

                        {{$posts := ($.Site.GetPage "section" "projects").Pages.ByPublishDate.Reverse}}
                        <div class="project-nav__link-container">
                            {{ if .NextPage }}
                                {{ if eq .NextPage.Section "projects" }}
                                    {{ $post := .NextPage }}
                                    <a class="project-nav__link project-nav__link--next nav-link fade-in-top delay-1" href="{{ $post.Permalink }}" data-scroll data-scroll-offset="25%" data-scroll-class="is-in-viewport">
                                        {{- $images := ($post.Resources.Match (printf "%s*" "images/background")) -}}
                                            {{ range $images }}
                                                {{ partial "responsive-image" (dict "Site" $.Site "image" . "attrs" (dict "class" "project-nav__link__image" )) }}
                                            {{ end }}  
                                        <div class="project-nav__link__content">
                                            <p class="project-nav__link__content__title">{{ $post.Title | truncate 50 "..."}}</p>
                                        </div>
                                    </a>
                                {{ else }}
                                    {{ range last 1 $posts }}
                                        {{ $post := . }}
                                        <a class="project-nav__link project-nav__link--next nav-link fade-in-top delay-1" href="{{ $post.Permalink }}" data-scroll data-scroll-offset="25%" data-scroll-class="is-in-viewport">
                                            {{- $images := ($post.Resources.Match (printf "%s*" "images/background")) -}}
                                                {{ range $images }}
                                                    {{ partial "responsive-image" (dict "Site" $.Site "image" . "attrs" (dict "class" "project-nav__link__image" )) }}
                                                {{ end }}  
                                            <div class="project-nav__link__content">
                                                <p class="project-nav__link__content__title">{{ $post.Title | truncate 50 "..."}}</p>
                                            </div>
                                        </a>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                            {{ if .PrevPage }}
                                {{ if eq .PrevPage.Section "projects" }}
                                    {{ $post := .PrevPage }}
                                    <a class="project-nav__link project-nav__link--next nav-link fade-in-top delay-3" href="{{ $post.Permalink }}" data-scroll data-scroll-offset="25%" data-scroll-class="is-in-viewport">
                                        {{- $images := ($post.Resources.Match (printf "%s*" "images/background")) -}}
                                            {{ range $images }}
                                                {{ partial "responsive-image" (dict "Site" $.Site "image" . "attrs" (dict "class" "project-nav__link__image" )) }}
                                            {{ end }}  
                                        <div class="project-nav__link__content">
                                            <p class="project-nav__link__content__title">{{ $post.Title | truncate 50 "..."}}</p>
                                        </div>
                                    </a>
                                    {{ else }}
                                        {{ range first 1 $posts }}
                                            {{ $post := . }}    
                                            <a class="project-nav__link project-nav__link--next nav-link fade-in-top delay-3" href="{{ $post.Permalink }}" data-scroll data-scroll-offset="25%" data-scroll-class="is-in-viewport">
                                                {{- $images := ($post.Resources.Match (printf "%s*" "images/background")) -}}
                                                    {{ range $images }}
                                                        {{ partial "responsive-image" (dict "Site" $.Site "image" . "attrs" (dict "class" "project-nav__link__image" )) }}
                                                    {{ end }}  
                                                <div class="project-nav__link__content">
                                                    <p class="project-nav__link__content__title">{{ $post.Title | truncate 50 "..."}}</p>
                                                </div>
                                            </a>
                                        {{ end }}
                                    {{ end }}
                                {{ else }}
                                {{ range first 1 $posts }}
                                    {{ $post := . }}    
                                    <a class="project-nav__link project-nav__link--next nav-link fade-in-top delay-3" href="{{ $post.Permalink }}" data-scroll data-scroll-offset="25%" data-scroll-class="is-in-viewport">
                                        {{- $images := ($post.Resources.Match (printf "%s*" "images/background")) -}}
                                            {{ range $images }}
                                                {{ partial "responsive-image" (dict "Site" $.Site "image" . "attrs" (dict "class" "project-nav__link__image" )) }}
                                            {{ end }}  
                                        <div class="project-nav__link__content">
                                            <p class="project-nav__link__content__title">{{ $post.Title | truncate 50 "..."}}</p>
                                        </div>
                                    </a>
                                {{ end }}
                            {{ end }}
                        </div>
                </div>
            </div> -->
        </div>
        {{- partial "footer.html" . -}}
    </div>
    <script>

            $(function () {



                anime.set(".word__content", {
                translateY: "+=160px",
                });

                anime.set(".project-hero__content__misc__content", {
                translateY: "+=25px",
                opacity:0
                });

                anime.set(".project-hero__content__misc__border", {
                width: "0px",
                });

                anime.set(".invite-to-scroll-with-text", {
                    translateX: "+=25px",
                    opacity:0
                });

                window.hasAppeared = function(obj) {
                    window.setTimeout(()=>{
                        $(obj.el).addClass("animated");
                    }, 650);
                }

                window.popTitle = function() {
                    anime.timeline({duration: 400}).add({
                        targets: ".project-nav__title .word__content",
                        translateY: "-=160px",
                        easing: "easeOutQuart",
                        delay: anime.stagger(50),
                    }, );
                };

                var timeline = anime.timeline({
                loop: false,
                duration: 400,
                });

                var animation = timeline
                .add({
                    targets: ".project-hero__content svg path",
                    duration: 300
                })
                .add({
                    targets: ".project-hero__content svg path",
                    strokeDashoffset: [3000, 0],
                    easing: "easeOutQuart",
                    duration: 2000
                }, "+=100")
                .add({
                    targets: ".project-hero .word__content",
                    translateY: "-=160px",
                    easing: "easeOutQuart",
                    delay: anime.stagger(50),
                }, "-=2000")
                .add({
                    targets: ".project-hero__content__misc__border",
                    width: "100%",
                    easing: "easeOutQuint",
                    delay: anime.stagger(50),
                }, "-=1800")
                .add({
                    targets: ".project-hero__content__misc__content",
                    translateY: "-=25px",
                    opacity:1,
                    easing: "easeOutQuart",
                    delay: anime.stagger(50),
                }, "-=1600")
                .add({
                    targets: ".invite-to-scroll-with-text",
                    translateX: "-=25px",
                    opacity:1,
                    easing: "easeOutQuart",
                }, "-=1600")

            });

    </script>

{{ end }}