
{{ define "main" }}
    {{- partial "header.html" . }}
    <div class="page page--without-padding bg-blue">
        <div class="page__background"></div>
        <div class="project">
            <div class="project-hero">
                <div class="project-hero__content">
                    <div class="project-hero__content__invite-to-scroll invite-to-scroll-with-text"></div>
                    <h1 class="project-hero__content__title">
                        {{ $test := split .Title " "}}
                        {{range $test }}
                            <span class="word">
                                <span class="word__content">
                                    {{.}}
                                </span>
                            </span>
                        {{end}}
                    </h1>
                    <div class="project-hero__content__misc">
                        <div class="project-hero__content__misc__type">
                            <div class="project-hero__content__misc__border"></div>
                            <div class="project-hero__content__misc__content">
                                <span class="project-hero__content__misc__label"> Type</span>
                                <!-- <a class="nav-link" href="{{ .Site.BaseURL }}projects">projects</a> · -->
                                {{ with .Params.tags }}
                                    {{ range . }}
                                        {{ $href := print (absURL "tags/") (urlize .) }}
                                        {{ . }}
                                    {{ end }}
                                {{ end }}
                            </div>
                        </div>
                        <div class="project-hero__content__misc__client">
                            <div class="project-hero__content__misc__border"></div>
                            <div class="project-hero__content__misc__content">
                                <span class="project-hero__content__misc__label"> Client</span>
                                <!-- <a class="nav-link" href="{{ .Site.BaseURL }}projects">projects</a> · -->
                                {{ with .Params.client }}
                                        <span class="tag">{{ . }}</span>
                                {{ end }}
                            </div>
                        </div>
                        <div class="project-hero__content__misc__deliverables">
                            <div class="project-hero__content__misc__border"></div>
                            {{ $number := int .Params.number}}
                            {{ $svgpath := print "static/images/0" $number ".svg" }}
                            {{ readFile $svgpath | safeHTML }}
                            <div class="project-hero__content__misc__content">
                                <span class="project-hero__content__misc__label"> Deliverables</span>
                                {{ range $i, $e := .Params.roles }}{{ if $i }}, {{ end }}<span class="tag">{{ $e }}</span>{{ end }}
                            </div>
                        </div>
                    </div>
                    <!-- <span class="project-hero__content__date">{{ .PublishDate.Format "2006" }}</span> -->
                </div>

            </div>
            <div class="container project__container">
                {{ .Content }}
            </div>
            <div class="project__nav project__nav--next">
                    {{ if .NextPage }}
                    {{ if eq .NextPage.Section "projects" }}
                    <a class="project__nav__link nav-link" href="{{ .NextPage.Permalink }}">
                        {{ readFile "static/images/nav-arrow.svg" | safeHTML }}
                    </a>
                    {{ end }}
                {{ end }}
            </div>
            
            <div class="project__nav project__nav--previous">
                    {{ if .PrevPage }}
                    {{ if eq .PrevPage.Section "projects" }}
                    <a class="project__nav__link nav-link" href="{{ .PrevPage.Permalink }}"> 
                        {{ readFile "static/images/nav-arrow.svg" | safeHTML }}
                    </a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </div>
    <script>

            $(function () {

                anime.set(".word__content", {
                translateY: "+=160px",
                });

                anime.set(".project-hero__content__misc__content", {
                translateY: "+=25px",
                opacity:0
                });

                anime.set(".project-hero__content__misc__border", {
                width: "0px",
                });

                anime.set(".invite-to-scroll-with-text", {
                    translateX: "+=25px",
                    opacity:0
                });


                var timeline = anime.timeline({
                loop: false,
                duration: 400,
                });

                var animation = timeline
                .add({
                    targets: ".project-hero__content svg path",
                    duration: 300
                })
                .add({
                    targets: ".project-hero__content svg path",
                    strokeDashoffset: [3000, 0],
                    easing: "easeOutQuart",
                    duration: 2000
                }, "+=100")
                .add({
                    targets: ".word__content",
                    translateY: "-=160px",
                    easing: "easeOutQuart",
                    delay: anime.stagger(50),
                }, "-=2000")
                .add({
                    targets: ".project-hero__content__misc__border",
                    width: "100%",
                    easing: "easeOutQuint",
                    delay: anime.stagger(50),
                }, "-=1800")
                .add({
                    targets: ".project-hero__content__misc__content",
                    translateY: "-=25px",
                    opacity:1,
                    easing: "easeOutQuart",
                    delay: anime.stagger(50),
                }, "-=1600")
                .add({
                    targets: ".invite-to-scroll-with-text",
                    translateX: "-=25px",
                    opacity:1,
                    easing: "easeOutQuart",
                }, "-=1600")



            });

    </script>

{{ end }}