img {
  user-select: none !important;
}

body,
html {
  @apply antialiased w-full p-0 m-0 overflow-x-hidden;
  font-family: "Poppins";
  background-color: var(--background-color);
}

::selection {
  color: var(--background-color);
  background: var(--text-color);
}

#page {
  @include up-to-md {
    border: $base-size * 2 solid var(--subtle-gray-color) !important;
  }
}

.inline-icon {
  display: inline-block;
  transform: scale(0.5);
  @include up-to-md {
    transform: scale(1);
  }
}

.overline {
  text-decoration: line-through;
}

.mobile-br {
  display: block;
  @include up-to-xl {
    display: none;
  }
}

.sentence-marquee {
  @apply w-full vr-mb-7 hidden;
  z-index: $marquee-z-index;
  transform: translatex(1px);
  @include up-to-xl {
    @apply block;
  }
}

#work {
  @apply vr-pt-2;
  @include up-to-md {
    @apply vr-pt-8;
  }
}
