img {
  user-select: none !important;
}

body,
html {
  @apply antialiased w-full p-0 m-0 overflow-x-hidden;
  font-family: "Poppins";
  background-color: var(--background-color);
}

span {
  font-family: "Poppins";
}

#app {
  opacity: 0;
  transition: opacity 0s ease;
}

#app.app--is-loaded {
  opacity: 1;
  transition: opacity 0.25s 0.25s ease;
}

::selection {
  color: var(--background-color);
  background: var(--text-color);
}

#page {
  @include up-to-md {
    margin-left: $base-size;
    &:before {
      content: "";
      @apply h-full fixed top-0 left-0;
      width: $base-size;
      background: var(--subtle-gray-color);
      z-index: 9;
    }
    // border: $base-size * 2 solid var(--subtle-gray-color) !important;
  }
}

.scroll-bar {
  @include up-to-md {
    @apply h-full fixed top-0 left-0;
    width: $base-size;
    height: 0px;
    background: var(--yellow);
    z-index: 9;
  }
}

.inline-icon {
  display: inline-block;
  transform: scale(0.5);
  @include up-to-md {
    transform: scale(1);
  }
}

.overline {
  text-decoration: line-through;
}

.sentence-marquee {
  @apply w-full hidden;
  z-index: $marquee-z-index;
  transform: translatex(1px);
  @include up-to-md {
    @apply block;
  }
}

#about {
  @apply vr-pt-0;
  @include up-to-md {
    @apply vr-pt-7;
  }
}

#work {
  @apply vr-pt-2;
  @include up-to-md {
    @apply vr-pt-6;
  }
}

.eye {
  display: inline-block;
  width: 24px;
  margin-right: 4px;
  transform: translateY(-1px);
  svg {
    display: inline-block;
    width: 100%;
  }
}

.eye svg path {
  stroke: var(--text-color);
}

.eye svg circle,
.eye svg polygon {
  fill: var(--text-color);
}
