$greenHue: 140;
$greenSaturation: 39%;
$greenLightness: 70%;
$green: hsl($greenHue, $greenSaturation, $greenLightness);
$darken-green: darken($green, 15%);

$blueHue: 188;
$blueSaturation: 37%;
$blueLightness: 64%;
$blue: hsl($blueHue, $blueSaturation, $blueLightness);
$darken-blue: darken($blue, 15%);

$pinkHue: 345;
$pinkSaturation: 81%;
$pinkLightness: 77%;
$pink: hsl($pinkHue, $pinkSaturation, $pinkLightness);
$darken-pink: darken($pink, 10%);

$orangeHue: 23;
$orangeSaturation: 88%;
$orangeLightness: 62%;
$orange: hsl($orangeHue, $orangeSaturation, $orangeLightness);
$darken-orange: darken($orange, 15%);

$yellowHue: 48;
$yellowSaturation: 100%;
$yellowLightness: 57%;
$yellow: hsl($yellowHue, $yellowSaturation, $yellowLightness);
$darken-yellow: darken($yellow, 15%);

:root {
  --background-color: #{$green};
  --darken-background-color: #{$darken-green};
  --background-hue: #{$greenHue};
  --complement-color: #{$orange};
  --darken-complement-color: #{darken($orange, 15%)};
  --background-saturation: #{$greenSaturation};
  --background-lightness: #{$greenLightness};
  --background-transition-duration: 200ms;
  --background-transition-ease: ease;
  --nav-color: black;
}

.rotate-180 {
  transform: rotate(180deg);
}

.bg-green {
  --background-color: #{$green};
  --complement-color: #{$orange};
  --darken-background-color: #{$darken-green};
  --darken-complement-color: #{darken($orange, 15%)};
  --background-hue: #{$greenHue};
  --background-saturation: #{$greenSaturation};
  --background-lightness: #{$greenLightness};
}

.bg-orange {
  --background-color: #{$orange};
  --complement-color: #{$green};
  --darken-background-color: #{$darken-orange};
  --darken-complement-color: #{darken($green, 15%)};
  --background-hue: #{$orangeHue};
  --background-saturation: #{$orangeSaturation};
  --background-lightness: #{$orangeLightness};
}

.bg-yellow {
  --background-color: #{$yellow};
  --complement-color: #{$green};
  --darken-background-color: #{$darken-yellow};
  --darken-complement-color: #{darken($green, 15%)};
  --background-hue: #{$yellowHue};
  --background-saturation: #{$yellowSaturation};
  --background-lightness: #{$yellowLightness};
}

.bg-pink {
  --background-color: #{$pink};
  --complement-color: #{$yellow};
  --darken-background-color: #{$darken-pink};
  --darken-complement-color: #{darken($yellow, 15%)};
  --background-hue: #{$pinkHue};
  --background-saturation: #{$pinkSaturation};
  --background-lightness: #{$pinkLightness};
}

.bg-blue {
  --background-color: #{$blue};
  --complement-color: #{$pink};
  --darken-background-color: #{$darken-blue};
  --darken-complement-color: #{darken($pink, 15%)};
  --background-hue: #{$blueHue};
  --background-saturation: #{$blueSaturation};
  --background-lightness: #{$blueLightness};
}

.bg-green--important {
  --background-color: #{$green};
  --complement-color: #{$orange};
  --darken-background-color: #{$darken-green};
  --darken-complement-color: #{darken($orange, 15%)};
  --background-hue: #{$greenHue};
  --background-saturation: #{$greenSaturation};
  --background-lightness: #{$greenLightness};
  background-color: $green !important;
}

.bg-orange--important {
  --background-color: #{$orange};
  --complement-color: #{$green};
  --darken-background-color: #{$darken-orange};
  --darken-complement-color: #{darken($green, 15%)};
  --background-hue: #{$orangeHue};
  --background-saturation: #{$orangeSaturation};
  --background-lightness: #{$orangeLightness};
  background-color: $orange !important;
}

.bg-yellow--important {
  --background-color: #{$yellow};
  --complement-color: #{$green};
  --darken-background-color: #{$darken-yellow};
  --darken-complement-color: #{darken($green, 15%)};
  --background-hue: #{$yellowHue};
  --background-saturation: #{$yellowSaturation};
  --background-lightness: #{$yellowLightness};
  background-color: $yellow !important;
}

.bg-pink--important {
  --background-color: #{$pink};
  --complement-color: #{$yellow};
  --darken-background-color: #{$darken-pink};
  --darken-complement-color: #{darken($yellow, 15%)};
  --background-hue: #{$pinkHue};
  --background-saturation: #{$pinkSaturation};
  --background-lightness: #{$pinkLightness};
  background-color: $pink !important;
}

.bg-blue--important {
  --background-color: #{$blue};
  --complement-color: #{$pink};
  --darken-background-color: #{$darken-blue};
  --darken-complement-color: #{darken($pink, 15%)};
  --background-hue: #{$blueHue};
  --background-saturation: #{$blueSaturation};
  --background-lightness: #{$blueLightness};
  background-color: $blue !important;
}
