/* Text */

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 300;
  src: url("static/fonts/MortModern-23TextLight.otf2") format("otf2"),
    url("static/fonts/MortModern-23TextLight.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 400;
  src: url("static/fonts/MortModern-24TextRegular.otf2") format("otf2"),
    url("static/fonts/MortModern-24TextRegular.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Text No2";
  font-weight: 400;
  src: url("static/fonts/MortModern-25TextMedium.otf2") format("otf2"),
    url("static/fonts/MortModern-25TextMedium.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 600;
  src: url("static/fonts/MortModern-26TextSemiBold.otf2") format("otf2"),
    url("static/fonts/MortModern-26TextSemiBold.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 700;
  src: url("static/fonts/MortModern-27TextBold.otf2") format("otf2"),
    url("static/fonts/MortModern-27TextBold.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 800;
  src: url("static/fonts/MortModern-28TextBlack.otf2") format("otf2"),
    url("static/fonts/MortModern-28TextBlack.otf") format("otf");
}

/* Large */

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 300;
  src: url("static/fonts/MortModern-01LargeLight.otf2") format("otf2"),
    url("static/fonts/MortModern-01LargeLight.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 400;
  src: url("static/fonts/MortModern-02LargeRegular.otf2") format("otf2"),
    url("static/fonts/MortModern-02LargeRegular.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 500;
  src: url("static/fonts/MortModern-03LargeMedium.otf2") format("otf2"),
    url("static/fonts/MortModern-03LargeMedium.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 600;
  src: url("static/fonts/MortModern-04LargeSemiBold.otf2") format("otf2"),
    url("static/fonts/MortModern-04LargeSemiBold.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 700;
  src: url("static/fonts/MortModern-05LargeBold.otf2") format("otf2"),
    url("static/fonts/MortModern-05LargeBold.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 800;
  src: url("static/fonts/MortModern-06LargeBlack.otf2") format("otf2"),
    url("static/fonts/MortModern-06LargeBlack.otf") format("otf");
}

/* Subhead */

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 300;
  src: url("static/fonts/MortModern-07Light.otf2") format("otf2"),
    url("static/fonts/MortModern-07Light.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 400;
  src: url("static/fonts/MortModern-08Regular.otf2") format("otf2"),
    url("static/fonts/MortModern-08Regular.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 500;
  src: url("static/fonts/MortModern-09Medium.otf2") format("otf2"),
    url("static/fonts/MortModern-09Medium.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 600;
  src: url("static/fonts/MortModern-10SemiBold.otf2") format("otf2"),
    url("static/fonts/MortModern-10SemiBold.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 700;
  src: url("static/fonts/MortModern-11Bold.otf2") format("otf2"),
    url("static/fonts/MortModern-11Bold.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 800;
  src: url("static/fonts/MortModern-12Black.otf2") format("otf2"),
    url("static/fonts/MortModern-12Black.otf") format("otf");
}

/* Large Condensed */

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 300;
  src: url("static/fonts/MortModern-13LargeLightCondensed.otf2")
      format("otf2"),
    url("static/fonts/MortModern-13LargeLightCondensed.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 400;
  src: url("static/fonts/MortModern-14LargeRegularCondensed.otf2")
      format("otf2"),
    url("static/fonts/MortModern-14LargeRegularCondensed.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 500;
  src: url("static/fonts/MortModern-15LargeMediumCondensed.otf2")
      format("otf2"),
    url("static/fonts/MortModern-15LargeMediumCondensed.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 600;
  src: url("static/fonts/MortModern-16LargeSemiBoldCondensed.otf2")
      format("otf2"),
    url("static/fonts/MortModern-16LargeSemiBoldCondensed.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 700;
  src: url("static/fonts/MortModern-17LargeBoldCondensed.otf2") format("otf2"),
    url("static/fonts/MortModern-17LargeBoldCondensed.otf") format("otf");
}

/* Subhead Condensed */

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 300;
  src: url("static/fonts/MortModern-18LightCondensed.otf2") format("otf2"),
    url("static/fonts/MortModern-18LightCondensed.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 400;
  src: url("static/fonts/MortModern-19RegularCondensed.otf2") format("otf2"),
    url("static/fonts/MortModern-19RegularCondensed.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 500;
  src: url("static/fonts/MortModern-20MediumCondensed.otf2") format("otf2"),
    url("static/fonts/MortModern-20MediumCondensed.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 700;
  src: url("static/fonts/MortModern-21SemiBoldCondensed.otf2") format("otf2"),
    url("static/fonts/MortModern-21SemiBoldCondensed.otf") format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 700;
  src: url("static/fonts/MortModern-22BoldCondensed.otf2") format("otf2"),
    url("static/fonts/MortModern-22BoldCondensed.otf") format("otf");
}

/* Duplicate of fonts.css with Italic added,
 * TODO should be generated? */

/* Text */

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 300;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-23TextLightItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-23TextLightItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 400;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-24TextRegularItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-24TextRegularItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Text No2";
  font-weight: 400;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-25TextMediumItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-25TextMediumItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 600;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-26TextSemiBoldItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-26TextSemiBoldItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 700;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-27TextBoldItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-27TextBoldItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 800;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-28TextBlackItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-28TextBlackItalic.otf")
      format("otf");
}

/* Large */

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 300;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-01LargeLightItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-01LargeLightItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 400;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-02LargeRegularItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-02LargeRegularItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 500;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-03LargeMediumItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-03LargeMediumItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 600;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-04LargeSemiBoldItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-04LargeSemiBoldItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 700;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-05LargeBoldItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-05LargeBoldItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 800;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-06LargeBlackItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-06LargeBlackItalic.otf")
      format("otf");
}

/* Subhead */

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 300;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-07LightItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-07LightItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 400;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-08RegularItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-08RegularItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 500;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-09MediumItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-09MediumItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 600;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-10SemiBoldItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-10SemiBoldItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 700;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-11BoldItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-11BoldItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 800;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-12BlackItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-12BlackItalic.otf")
      format("otf");
}

/* Large Condensed */

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 300;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-13LargeLightCondensedItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-13LargeLightCondensedItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 400;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-14LargeRegularCondensedItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-14LargeRegularCondensedItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 500;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-15LargeMediumCondensedItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-15LargeMediumCondensedItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 600;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-16LargeSemiBoldCondensedItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-16LargeSemiBoldCondensedItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 700;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-17LargeBoldCondensedItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-17LargeBoldCondensedItalic.otf")
      format("otf");
}

/* Subhead Condensed */

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 300;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-18LightCondensedItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-18LightCondensedItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 400;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-19RegularCondensedItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-19RegularCondensedItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 500;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-20MediumCondensedItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-20MediumCondensedItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 700;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-21SemiBoldCondensedItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-21SemiBoldCondensedItalic.otf")
      format("otf");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 700;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-22BoldCondensedItalic.otf2")
      format("otf2"),
    url("static/fonts/MortModernPro/MortModern-22BoldCondensedItalic.otf")
      format("otf");
}
