/* Text */

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 300;
  src: url("static/fonts/MortModern-23TextLight.woff2") format("woff2"),
    url("static/fonts/MortModern-23TextLight.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 400;
  src: url("static/fonts/MortModern-24TextRegular.woff2") format("woff2"),
    url("static/fonts/MortModern-24TextRegular.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Text No2";
  font-weight: 400;
  src: url("static/fonts/MortModern-25TextMedium.woff2") format("woff2"),
    url("static/fonts/MortModern-25TextMedium.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 600;
  src: url("static/fonts/MortModern-26TextSemiBold.woff2") format("woff2"),
    url("static/fonts/MortModern-26TextSemiBold.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 700;
  src: url("static/fonts/MortModern-27TextBold.woff2") format("woff2"),
    url("static/fonts/MortModern-27TextBold.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 800;
  src: url("static/fonts/MortModern-28TextBlack.woff2") format("woff2"),
    url("static/fonts/MortModern-28TextBlack.woff") format("woff");
}

/* Large */

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 300;
  src: url("static/fonts/MortModern-01LargeLight.woff2") format("woff2"),
    url("static/fonts/MortModern-01LargeLight.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 400;
  src: url("static/fonts/MortModern-02LargeRegular.woff2") format("woff2"),
    url("static/fonts/MortModern-02LargeRegular.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 500;
  src: url("static/fonts/MortModern-03LargeMedium.woff2") format("woff2"),
    url("static/fonts/MortModern-03LargeMedium.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 600;
  src: url("static/fonts/MortModern-04LargeSemiBold.woff2") format("woff2"),
    url("static/fonts/MortModern-04LargeSemiBold.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 700;
  src: url("static/fonts/MortModern-05LargeBold.woff2") format("woff2"),
    url("static/fonts/MortModern-05LargeBold.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 800;
  src: url("static/fonts/MortModern-06LargeBlack.woff2") format("woff2"),
    url("static/fonts/MortModern-06LargeBlack.woff") format("woff");
}

/* Subhead */

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 300;
  src: url("static/fonts/MortModern-07Light.woff2") format("woff2"),
    url("static/fonts/MortModern-07Light.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 400;
  src: url("static/fonts/MortModern-08Regular.woff2") format("woff2"),
    url("static/fonts/MortModern-08Regular.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 500;
  src: url("static/fonts/MortModern-09Medium.woff2") format("woff2"),
    url("static/fonts/MortModern-09Medium.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 600;
  src: url("static/fonts/MortModern-10SemiBold.woff2") format("woff2"),
    url("static/fonts/MortModern-10SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 700;
  src: url("static/fonts/MortModern-11Bold.woff2") format("woff2"),
    url("static/fonts/MortModern-11Bold.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 800;
  src: url("static/fonts/MortModern-12Black.woff2") format("woff2"),
    url("static/fonts/MortModern-12Black.woff") format("woff");
}

/* Large Condensed */

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 300;
  src: url("static/fonts/MortModern-13LargeLightCondensed.woff2")
      format("woff2"),
    url("static/fonts/MortModern-13LargeLightCondensed.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 400;
  src: url("static/fonts/MortModern-14LargeRegularCondensed.woff2")
      format("woff2"),
    url("static/fonts/MortModern-14LargeRegularCondensed.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 500;
  src: url("static/fonts/MortModern-15LargeMediumCondensed.woff2")
      format("woff2"),
    url("static/fonts/MortModern-15LargeMediumCondensed.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 600;
  src: url("static/fonts/MortModern-16LargeSemiBoldCondensed.woff2")
      format("woff2"),
    url("static/fonts/MortModern-16LargeSemiBoldCondensed.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 700;
  src: url("static/fonts/MortModern-17LargeBoldCondensed.woff2") format("woff2"),
    url("static/fonts/MortModern-17LargeBoldCondensed.woff") format("woff");
}

/* Subhead Condensed */

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 300;
  src: url("static/fonts/MortModern-18LightCondensed.woff2") format("woff2"),
    url("static/fonts/MortModern-18LightCondensed.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 400;
  src: url("static/fonts/MortModern-19RegularCondensed.woff2") format("woff2"),
    url("static/fonts/MortModern-19RegularCondensed.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 500;
  src: url("static/fonts/MortModern-20MediumCondensed.woff2") format("woff2"),
    url("static/fonts/MortModern-20MediumCondensed.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 700;
  src: url("static/fonts/MortModern-21SemiBoldCondensed.woff2") format("woff2"),
    url("static/fonts/MortModern-21SemiBoldCondensed.woff") format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 700;
  src: url("static/fonts/MortModern-22BoldCondensed.woff2") format("woff2"),
    url("static/fonts/MortModern-22BoldCondensed.woff") format("woff");
}

/* Duplicate of fonts.css with Italic added,
 * TODO should be generated? */

/* Text */

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 300;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-23TextLightItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-23TextLightItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 400;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-24TextRegularItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-24TextRegularItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Text No2";
  font-weight: 400;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-25TextMediumItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-25TextMediumItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 600;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-26TextSemiBoldItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-26TextSemiBoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 700;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-27TextBoldItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-27TextBoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Text";
  font-weight: 800;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-28TextBlackItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-28TextBlackItalic.woff")
      format("woff");
}

/* Large */

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 300;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-01LargeLightItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-01LargeLightItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 400;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-02LargeRegularItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-02LargeRegularItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 500;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-03LargeMediumItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-03LargeMediumItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 600;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-04LargeSemiBoldItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-04LargeSemiBoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 700;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-05LargeBoldItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-05LargeBoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Large";
  font-weight: 800;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-06LargeBlackItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-06LargeBlackItalic.woff")
      format("woff");
}

/* Subhead */

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 300;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-07LightItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-07LightItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 400;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-08RegularItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-08RegularItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 500;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-09MediumItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-09MediumItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 600;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-10SemiBoldItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-10SemiBoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 700;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-11BoldItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-11BoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead";
  font-weight: 800;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-12BlackItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-12BlackItalic.woff")
      format("woff");
}

/* Large Condensed */

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 300;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-13LargeLightCondensedItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-13LargeLightCondensedItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 400;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-14LargeRegularCondensedItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-14LargeRegularCondensedItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 500;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-15LargeMediumCondensedItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-15LargeMediumCondensedItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 600;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-16LargeSemiBoldCondensedItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-16LargeSemiBoldCondensedItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Large Condensed";
  font-weight: 700;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-17LargeBoldCondensedItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-17LargeBoldCondensedItalic.woff")
      format("woff");
}

/* Subhead Condensed */

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 300;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-18LightCondensedItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-18LightCondensedItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 400;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-19RegularCondensedItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-19RegularCondensedItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 500;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-20MediumCondensedItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-20MediumCondensedItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 700;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-21SemiBoldCondensedItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-21SemiBoldCondensedItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Mort Modern Subhead Condensed";
  font-weight: 700;
  font-style: italic;
  src: url("static/fonts/MortModernPro/MortModern-22BoldCondensedItalic.woff2")
      format("woff2"),
    url("static/fonts/MortModernPro/MortModern-22BoldCondensedItalic.woff")
      format("woff");
}
