.about {
  .hero__content__sub-title {
    @apply inline-block hero-text;
  }
  .screen-size {
    overflow: visible;
  }
  .hero__content__title__word {
    margin-bottom: -30px;
  }
}

.about__svg {
  position: absolute;
  right: 0;
  bottom: 0;
  top: -10%;
  height: 120%;
  path {
    stroke-dashoffset: 3000;
    stroke-dasharray: 3000;
  }
}

.about__content__sub-title {
  @apply inline-block text-9xl font-serif font-black z-20 relative my-24;

  .about-word {
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 0px;
    pointer-events: none;
  }
  .about-word__content {
    transform: translateY(160px);
    transition: all 400ms $easeOutQuart;
    display: inline-block;
    // will-change: transform;
  }

  &.is-in-viewport {
    .about-word__content {
      transform: translateY(0px);
    }
  }

  span {
    @apply relative z-10 pointer-events-none select-none;
  }
}

.about__content__lead {
  @apply inline-block text-black font-text2 text-4xl mt-32 mb-12 leading-normal;
  opacity: 0;
  &.is-in-viewport {
    opacity: 1;
  }
}

.about__content__text {
  @apply text-2xl mb-4 font-text font-light text-black leading-normal;
  columns: 2;
  column-gap: 4rem;
  strong {
    font-weight: 600;
  }
}

.about__content__prices {
  @apply flex flex-row justify-around mt-4 mb-24;
}

.about__content__prices__item {
  @apply flex flex-col pb-4;
  border-radius: 8px;
}

.about__content__prices__item__image {
  @apply mb-8;
  width: 50%;
}

.about__content__prices__item__title {
  @apply font-serif font-bold text-2xl;
}

.about__content__prices__item__place {
  @apply font-serif font-normal text-xl mb-4;
}

.about__content__prices__item__date {
  @apply font-sans font-normal text-sm uppercase opacity-50;
}

.about__content__clients {
  @apply flex flex-row flex-wrap w-full justify-between mb-16;
}

.about__content__social__clients__image {
  @apply object-contain pb-12;
  width: 30%;
}

.about__hire-me {
  .button {
    @apply mt-4;
  }
}
