.button {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  transition: all 200ms ease;
  padding: 15px 25px;
  border: 1px solid var(--text-color);
  overflow: hidden;
  transition: all var(--background-transition-duration)
    var(--background-transition-ease);
  background-color: var(--background-color);
  &:after {
    z-index: 0;
    content: "";
    width: 102%;
    height: 150%;
    top: 0;
    left: -1%;
    transition: all 200ms ease;
    transform: translateY(150%);
    position: absolute;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='260px' height='50px' viewBox='0 0 260 50' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg  fill='var(--text-color)' fill-rule='evenodd'%3E%3Cg stroke='%23979797'%3E%3Cpath d='M0,49.0000348 L0,3.19744231e-14 C16.6379265,0.351380356 29.9007236,2.11465823 39.7883915,5.28983363 C54.6198932,10.0525967 64.5212915,16.3857844 84.5532156,10.837809 C104.58514,5.28983363 120.872775,-3.92036753 141.037012,5.28983363 C161.201248,14.5000348 172.619563,5.28983363 190.17485,5.28983363 C207.730137,5.28983363 213.727639,14.5000348 228.463885,14.5000348 C243.200132,14.5000348 249.700491,5.28983363 259.5,5.28983363 C259.5,9.64332158 259.5,24.2133886 259.5,49.0000348 L0,49.0000348 Z' id='Path-13'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &:hover:after {
    transform: translateY(-30%);
  }
  &:hover span {
    color: var(--background-color) !important;
  }
  &__content {
    z-index: 1;
    position: relative;
    letter-spacing: 0.07rem;
  }
}

.black .button:after {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='260px' height='50px' viewBox='0 0 260 50' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols'  fill='white' fill-rule='evenodd'%3E%3Cg stroke='%23979797'%3E%3Cpath d='M0,49.0000348 L0,3.19744231e-14 C16.6379265,0.351380356 29.9007236,2.11465823 39.7883915,5.28983363 C54.6198932,10.0525967 64.5212915,16.3857844 84.5532156,10.837809 C104.58514,5.28983363 120.872775,-3.92036753 141.037012,5.28983363 C161.201248,14.5000348 172.619563,5.28983363 190.17485,5.28983363 C207.730137,5.28983363 213.727639,14.5000348 228.463885,14.5000348 C243.200132,14.5000348 249.700491,5.28983363 259.5,5.28983363 C259.5,9.64332158 259.5,24.2133886 259.5,49.0000348 L0,49.0000348 Z' id='Path-13'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.blue .button:after {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='260px' height='50px' viewBox='0 0 260 50' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols'  fill='white' fill-rule='evenodd'%3E%3Cg stroke='%23979797'%3E%3Cpath d='M0,49.0000348 L0,3.19744231e-14 C16.6379265,0.351380356 29.9007236,2.11465823 39.7883915,5.28983363 C54.6198932,10.0525967 64.5212915,16.3857844 84.5532156,10.837809 C104.58514,5.28983363 120.872775,-3.92036753 141.037012,5.28983363 C161.201248,14.5000348 172.619563,5.28983363 190.17485,5.28983363 C207.730137,5.28983363 213.727639,14.5000348 228.463885,14.5000348 C243.200132,14.5000348 249.700491,5.28983363 259.5,5.28983363 C259.5,9.64332158 259.5,24.2133886 259.5,49.0000348 L0,49.0000348 Z' id='Path-13'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
