.growing-line {
  @apply w-full;
  background-color: var(--gray-color);
  transform: scaleX(0);
  transition: transform duration("screen") ease("in-expo");
  height: 2px;
}

.growing-line--left {
  transform-origin: left;
}

.growing-line--right {
  transform-origin: right;
}

.growing-line--active {
  transform: scaleX(1);
}
