.projects {
  .word {
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 0px 4px 13px 5px;
    pointer-events: none;
  }

  .word__content {
    display: inline-block;
  }

  .invite-to-scroll {
    height: 6vh;
    &:before {
      height: 6vh;
    }
  }
  svg {
    opacity: 0.7;
  }
}

.projects__header,
.projects__footer {
  @apply screen-size relative;
}

.projects__header {
  padding: 0;
  height: calc(100vh - #{$nav-height + $border-size});
  min-height: calc(100vh - #{$nav-height + $border-size});
}

.projects__nav {
  @apply fixed;
  top: calc(50% - #{$nav-height});
  margin-top: 50px;
  left: 50px;
  z-index: 999;
  height: 100px;
  display: none;
}

.projects__nav__link {
  @apply block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid white;
  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

.projects__nav__link-active {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: white;
  position: relative;
}

.projects__header__title {
  @apply hero-title relative;
  text-align: center;
  z-index: 1;
}

.projects__header__illustration {
  @apply screen-size;
  @apply absolute;
  padding: 0;
  height: calc(100vh - #{$nav-height + $border-size});
  min-height: calc(100vh - #{$nav-height + $border-size});
  top: 12px;
  left: 0;
  z-index: 0;
  pointer-events: none;
  svg {
    width: 90%;
    margin: 0 auto;
    path {
      stroke-dashoffset: 800;
      stroke-dasharray: 800;
    }
  }
}

.projects__footer {
  position: relative;
  text-align: center;
  padding: 0;
  min-height: 100vh;
  height: 100vh;
  .button {
    @apply mt-4 inline-block z-20;
  }
}

.projects__footer__title {
  @apply hero-title block relative z-20;
  text-align: center;
}

// PROJECT

.projects__project {
  @apply screen-size;
  height: 100%;
  // border-top: 1px solid rgba(0, 0, 0, 0.1);
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.projects__project__content {
  @apply relative flex items-center flex-row z-20;
  max-width: 1200px;
  margin: 0 10%;
}

.projects__project__content__image {
  @apply flex items-center justify-center relative;
  width: 45%;
  padding: 2%;
}

.projects__project__content__image__img {
  @apply relative;
  height: auto;
  z-index: 1;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  &:after {
    @apply absolute top-0 left-0 w-full h-full opacity-0 flex items-center justify-center text-white text-3xl font-black uppercase tracking-wider;
    transition: all 200ms ease;
    background-color: rgba(0, 0, 0, 0.3);
    content: "read more";
    font-size: 20px;
    z-index: 1;
  }
}

.projects__project__geometric-shape {
  @apply absolute z-10;
}

.projects__project__content:hover {
  .projects__project__content__image__img:after {
    opacity: 1;
  }
}

.projects__project__content__image-container {
  height: auto;
  width: 100%;
  @apply px-4 py-4 bg-white shadow relative;
}

.projects__project__content__image-container__paper-layer {
  @apply w-full h-full absolute top-0 left-0;
  z-index: -1;
  display: none;
}

.projects__project__content__image-container__paper-layer:after {
  content: "";
  z-index: -1;
  @apply w-full h-full shadow absolute transform top-0 left-0 bg-white;
  transform: rotate(0deg);
  transition: all 200ms ease;
  transform: rotate(2deg);
}

.projects__project__content__image-container__paper-layer--2:after {
  transform: rotate(-2deg);
}

.projects__project__content__image__img__bg {
  @apply absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  background-size: cover;
}

.projects__project__index {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
  color: transparent;
  font-family: Inter-ExtraBold;
  font-size: 74px;
  position: absolute;
  top: calc(50% - 32px);
  left: 40px;
}

.projects__project__content__info {
  @apply text-right;
  width: 42%;
  margin-right: 5%;
  margin-left: 5%;
}

.projects__project__content__info__title {
  @apply hero-subtitle inline;
  line-height: 1;
  width: 90%;

  // .project-word {
  //   overflow: hidden;
  //   position: relative;
  //   display: inline-block;
  //   padding: 0px;
  //   pointer-events: none;
  // }
  // .project-word__content {
  //   transform: translateY(160px);
  //   transition: all 400ms $easeOutQuart;
  //   display: inline-block;
  //   will-change: transform;
  // }

  // .project-word:nth-child(0) .project-word__content {
  //   transition-delay: 150ms;
  // }
  // .project-word:nth-child(1) .project-word__content {
  //   transition-delay: 200ms;
  // }
  // .project-word:nth-child(2) .project-word__content {
  //   transition-delay: 250ms;
  // }
  // .project-word:nth-child(3) .project-word__content {
  //   transition-delay: 300ms;
  // }
}

.projects__project__content__info__tag {
  @apply label font-bold uppercase tracking-widest mt-4 mb-8 block relative;
  font-size: 20px;
  // opacity: 0;
  // transition: all 200ms ease;
  // transition-delay: 250ms;
}

.projects__project__content__info__desc {
  @apply lead-text;
  max-width: 75%;
  margin-left: 25%;
  font-size: 20px;
  line-height: 28px;
  // opacity: 0;
  // transition: all 200ms ease;
  // transition-delay: 450ms;
}

.projects__project--right .projects__project__content {
  @apply flex-row-reverse;
  .projects__project__content__info {
    @apply text-left;
    margin-right: 5%;
    margin-left: 5%;
  }
  .projects__project__content__info__title {
  }
  .projects__project__content__info__tag {
    // &:before {
    //   @apply right-0;
    // }
  }
  .projects__project__content__info__desc {
    margin-left: 0%;
  }
}
