.project {
}

// PROJECT HERO --------------------

// --------------------

.project__container {
  @apply mt-24 mb-24;
  h1,
  h2,
  h3 {
    @apply medium-title;
  }
  h4,
  h5,
  h6 {
    @apply small-title mb-8 mt-16 relative;
  }
  & > p {
    @apply base-text mb-8;
  }
}

.project-lead:first-of-type {
  @apply lead-text mb-8;
}

.project-two-column-grid {
  @apply grid grid-cols-2 gap-8;
}

.project__container .float-right {
  max-width: 300px;
  border: 20px solid white;
}

.project__container__introduction {
  @apply flex items-center w-full;
  height: 100vh;
}

.project__container__introduction__content {
  @apply grid grid-cols-4 gap-4;
  display: grid !important;
}

.project__container__introduction__content__label {
  @apply col-span-1 label mt-2 inline-block relative;
  &:after {
    @apply absolute right-10;
    content: "";
    height: 30px;
    width: 1px;
    background-color: white;
  }
}

.project__container__introduction__content__text {
  @apply col-span-3;
}

// --------------------

// ----------------------

.project-screen {
  @apply min-h-screen flex items-center;
}

.project__list {
  @apply list-none p-0;
}

.project__list__item {
  @apply pl-4 pb-4 block relative;
  &:after {
    content: "";
    @apply absolute -left-1 top-3 rounded-full w-2 h-2 border border-white border-solid;
  }
}

.project__list__item__link {
  @apply no-underline block;
}

.project__list__item__link__title {
  @apply base-text block font-semibold -mb-1;
}

.project__list__item__link__text {
  @apply small-text opacity-75 inline-block;
  font-size: 18px;
}
