.visual {
  @apply pb-32;

  .word {
    padding: 0px 4px 13px 0px;
  }

  .invite-to-scroll {
    height: 4vh;
    bottom: 6vh;
    &:before {
      height: 4vh;
    }
  }

  .grid {
    display: flex !important;
  }

  .grid__column {
    flex-grow: 1;
  }

  .grid__item {
    @apply bg-white shadow;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 2rem;
  }

  // transform: none !important;
  // animation: none !important;

  .grid__item:not(.grid__item--1):not(.grid__item--2) {
    opacity: 1;
  }

  .grid__item--1,
  .grid__item--2 {
    transform: none !important;
    animation: none !important;
  }
}

.visual__hero {
  @apply flex relative flex-col items-center justify-center text-center;
  min-height: 80vh;
}

.visual__hero__label {
  @apply label mt-24;
}

.visual__hero__title {
  @apply text-6xl text-center break-normal;
  @apply hero-title;
  @apply text-center;
}

.visual__hero__p {
  @apply text-2xl leading-normal w-6/12;
  a {
    text-decoration: underline;
  }
}

// .grid .grid__item.animate {
//   transform: translateY(50px);
//   animation: moveUp 0.65s ease forwards;
// }

// .grid .grid__item.animated {
//   transform: none;
//   animation: none;
//   opacity: 1;
// }

// @keyframes moveUp {
//   0% {
//   }
//   // 99% {
//   //   transform: translateY(0);
//   //   opacity: 1;
//   // }
//   100% {
//     transform: translateY(0);
//     // transform: none;
//     opacity: 1;
//   }
// }
