

{{$site := .Site}}
{{$color := "white"}}
{{$format := "svg"}}

<div class="clients__marquee">
    <div class="clients__marquee__content">

        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/cite-des-sciences.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/dior.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/matthieuricard.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/femis.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/wort.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/bpifrance.svg" | safeHTML }}</div>

        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/cite-des-sciences.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/dior.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/matthieuricard.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/femis.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/wort.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/bpifrance.svg" | safeHTML }}</div>


    </div>
</div>
<div class="clients__marquee clients__marquee--2">
    <div class="clients__marquee__content">
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/humabio.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/amapa.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/rockhal.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/universcience.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/landskies.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/europa.svg" | safeHTML }}</div>

        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/humabio.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/amapa.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/rockhal.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/universcience.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/landskies.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/europa.svg" | safeHTML }}</div>
    </div>
</div>

<div class="clients__marquee clients__marquee--3">
    <div class="clients__marquee__content">
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/obvious.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/bdrc.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/avec.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/mediafutures.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/luxtimes.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/labrh.svg" | safeHTML }}</div>

        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/obvious.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/bdrc.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/avec.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/mediafutures.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/luxtimes.svg" | safeHTML }}</div>
        <div class="clients__marquee__content__tag">{{ readFile "static/images/logo-white/svg/labrh.svg" | safeHTML }}</div>

    </div>
</div>
