

{{$site := .Site}}
<style>
    .swiper {
        width: 100%;
      }
  
      .slide {
        width: 25%;
      }
  
      .swiper-wrapper {
          will-change: transform;
      }
    #preloadedImages
    {
        width: 0px;
        height: 0px;
        display: inline;
        background-image: url({{ $site.BaseURL }}images/logos-black/png/matthieuricard.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/luxtimes.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/bdrc.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/amapa.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/bpifrance.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/radio-latina.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/femis.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/obvious.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/humabio.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/labrh.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/cite-des-sciences.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/landskies.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/wort.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/ideo.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/42.png);
        background-image: url({{ $site.BaseURL }}images/logos-black/png/telecomparis.png);
    }
</style>
  
<section class="section section--with-half-padding" data-scroll-section>
    <div class="section__content">

        <div class="container mx-auto" >
            <div class="relative">
                <div style="position:absolute; right:20%; top:80px;">
                    {{ partial "components/stamp" (dict "Site" $.Site) }}
                </div>
            </div>
            <h2 class="heading-2 vr-mt-1 vr-mb-4 entity">WITH <br/>SOME NICE<br/> CLIENTS*</h2>
            <!-- <p class="text-base vr-mb-4 entity ">And they loved it.</p> -->
            <div data-swiper-marquee data-swiper-marquee-from="-600" data-swiper-marquee-to="-300" >
                    <!-- data-cursor-text="g" -->
                <div class="swiper vr-mb-1" data-cursor="-lg"> 
                    <div class="swiper-wrapper">
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/cite-des-sciences.jpg"/></div>
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/bdrc.jpg"/></div>
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/matthieuricard.jpg"/></div>
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/femis.jpg"/></div>
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/luxtimes.jpg"/></div>
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/radio-latina.jpg"/></div>
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/obvious.jpg"/></div>
                    </div>
                </div>
            </div>
            <div data-swiper-marquee data-swiper-marquee-from="-300" data-swiper-marquee-to="-600" >
                    <!-- data-cursor-text="g" -->
                <div class="swiper" data-cursor="-lg"> 
                    <div class="swiper-wrapper">
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/humabio.jpg"/></div>
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/amapa.jpg"/></div>
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/labrh.jpg"/></div>
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/universcience.jpg"/></div>
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/landskies.jpg"/></div>
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/wort.jpg"/></div>
                        <div class="swiper-slide clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/jpg/bpifrance.jpg"/></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>



<!-- <section class="section--with-half-padding section ">
    <div class="section__content">
        <div class="container mx-auto">
            <h2 class="entity heading-2 font-bold uppercase vr-mb-4">We worked<br/> together.</h2>
        </div>
        {{$site := .Site}}
        <style>
            #preloadedImages
            {
                width: 0px;
                height: 0px;
                display: inline;
                background-image: url({{ $site.BaseURL }}images/logos-black/png/matthieuricard.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/luxtimes.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/bdrc.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/amapa.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/bpifrance.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/radio-latina.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/femis.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/obvious.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/humabio.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/labrh.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/cite-des-sciences.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/landskies.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/wort.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/ideo.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/42.png);
                background-image: url({{ $site.BaseURL }}images/logos-black/png/telecomparis.png);
            }
        </style>
        <div data-marquee data-marquee-start="-600" data-marquee-end="-500" class="clients__marquee">
            <div data-marquee-container  class="clients__marquee__content">
                {{ range $index, $num := (seq 3) }}
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/luxtimes.png"/></div>
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/bdrc.png"/></div>
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/matthieuricard.png"/></div>
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/cite-des-sciences.png"/></div>
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/femis.png"/></div>
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/radio-latina.png"/></div>
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/obvious.png"/></div>
                {{ end }}

            </div>
        </div>                    
        <div data-marquee data-marquee-start="-300" data-marquee-end="-400" class="clients__marquee clients__marquee--2">
            <div data-marquee-container class="clients__marquee__content">
                {{ range $index, $num := (seq 3) }}
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/humabio.png"/></div>
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/amapa.png"/></div>
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/labrh.png"/></div>
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/universcience.png"/></div>
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/landskies.png"/></div>
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/wort.png"/></div>
                    <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/png/bpifrance.png"/></div>
                {{ end }}
            </div>
        </div>
    </div>
  </section>
-->