
<div data-scroll-description class="description">

  <div data-scroll-description-circle  class="description__active-circle">
      <div class="description__active-circle__element"></div>
  </div>

  <div data-scroll-description-item class="description__item description__item--title" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 49.99%" data-scroll-class="description__item--active">
    <span>
      Feel free to write me an email.
    </span>
  </div>

  <div data-scroll-description-item class="description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 49.99%" data-scroll-class="description__item--active">
    <span>
      I’m <strong>available</strong> in 
      <strong>full remote</strong>
      from Metz, France.
    </span>
  </div>

  <div data-scroll-description-item class="description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 49.99%" data-scroll-class="description__item--active">
    <span>Say&nbsp;</span>
    <a data-click-to-copy href="mailto:hello@tfrere.com" class="email" data-cursor="-lg">
        <span class="email">hello@tfrere.com</span>
        <span data-click-to-copy-info-message class="email__info-message">Copied !</span>
    </a>
  </div>
</div>
