<div data-scroll-description class="description">

  <div data-scroll-description-circle  class="description__active-circle">
      <div data-magnetic class="description__active-circle__element"></div>
  </div>
  
  <div data-scroll-description-item class="description__item w-8/12" data-scroll data-scroll-repeat="true" data-scroll-offset="35%, 49.99%" data-scroll-class="description__item--active">
      <span>Oh, i nearly forgot to mention...</span>
  </div>

  <div data-scroll-description-item class="description__item description__item--title" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 49.99%" data-scroll-class="description__item--active">
    <span>
      I'm always keen
      for a good
      collab.
    </span>
  </div>

    <div data-scroll-description-item class="description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 49.99%" data-scroll-class="description__item--active">
      <span>
        I’m <strong>available</strong> in 
        <strong>full remote</strong>
        from Metz, France
      </span>
    </div>

    <div data-scroll-description-item class="description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 49.99%" data-scroll-class="description__item--active">
      <span>
        <a data-click-to-copy id="click-to-copy" href="mailto:hello@tfrere.com" class="contact__container__email-sentence__button" data-cursor="-lg">
            Say <span class="button__content contact__container__email-sentence__button__email show underline">hello@tfrere.com</span>
            <!-- <span class="button__content contact__container__email-sentence__button__info-message">Copied !</span> -->
        </a>
      </span>
  </div>


</div>
