<div class="description">

  <div class="description__item description__item--title">
    <span>
      Feel free to write me an email.
    </span>
  </div>

  <div class="description__item">
    <span>
      I’m <strong>available</strong> in 
      <strong>full remote</strong>
      from Metz, France.
    </span>
  </div>

  <div class="description__item">
    <span>Say&nbsp;</span>
    <a data-click-to-copy href="mailto:hello@tfrere.com" class="email" data-cursor="-lg">
        <span class="email">hello@tfrere.com</span>
        <span data-click-to-copy-info-message class="email__info-message">Copied !</span>
    </a>
  </div>
</div>
