
  <section id="toto" class="black section contact" data-scroll-section>
    <canvas class="canvas entity" data-boids data-boids-color="rgba(255,255,255,0.9)"></canvas>
    <!--   data-scroll-sticky data-scroll-target="#toto"  -->
    <div
      class="section__content container z-0" data-scroll data-scroll-speed="-5vh"
    >
        <h2 class="heading-1 entity uppercase" > 
            Always keen
            <br/>
            for a good
            <br/> 
            collab
        </h2>
          <p class="click-to-copy">
              Feel free to write me an email at
              <!-- data-cursor-text="copy" -->
              <a data-click-to-copy id="click-to-copy" href="mailto:write@tfrere.fr" class="button" data-cursor="-lg">
                <span class="button__content click-to-copy__email show">write@tfrere.com</span>
                <span class="button__content click-to-copy__info-message">Copied !</span>
            </a>
          </p>
          <p class="text-base entity vr-mb-0">I’m available in <span class="underline underline--small">full remote</span> from Metz, France</p>
    </div>
  </section>