<section class="section section--with-padding description" data-scroll-section >
    <!-- style="border-bottom:1px solid rgba(0,0,0,0.1)" -->
    <div class="section__content container">
        <!-- text-hero -->
        <p class="entity sentence-focus">
            <span class="sentence-focus__item" data-scroll data-scroll-repeat="true" data-scroll-offset="20%, 49.9%" data-scroll-class="sentence-focus__item--active">I lead front-end development for companies and organizations.</span>
            <span class="sentence-focus__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 49.9%" data-scroll-class="sentence-focus__item--active">Building resilient UI foundations for their online experience.</span>
            <span class="sentence-focus__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 20%" data-scroll-class="sentence-focus__item--active">I’ve worked on projects of different scales from small micro-sites to larger Web applications.</span>
        </p>
    </div>
  </section>
<section class="black section section--with-half-padding section--with-half-height overflow-hidden description" style="border-top: 1px solid rgba(0,0,0,0.1)" data-scroll-section >
    <!-- style="width: 200vw;height: 200vh;top: -100vh;left: -100vw;" -->
      <canvas class="canvas blob entity fade-in" data-blob data-blob-offset="50" data-blob-color="rgba(255,255,255,0.4)" 
      data-scroll data-scroll-class="is-in-viewport" data-scroll-repeat="true" data-scroll-offset="20%, 20%"
      ></canvas> 

      <!-- data-scroll data-scroll-speed="-1" -->
    <div class="section__content container vr-mb-3">
        <h3 class="heading-4 uppercase entity vr-mt-4 vr-mb-3"  >Over 10 years<br/> in the game</h3>
        <div class="flex gap-12 vr-mt-2" >
            <div class="">
                <!-- <h2 class="heading-1 text-stroke entity">01.</h2> -->
                <h3 class="heading-6 entity uppercase font-medium vr-mb-1">As a designer</h3>
                <p class="entity text-small entity">
                    I’m a design-minded front-end developer. Sometimes people who do what I do are also called front-end designers, UI developers, UI engineers, or design engineers.
                </p>    
            </div>
            <div class="">
                <!-- <h2 class="heading-1 text-stroke entity">02.</h2> -->
                <h3 class="heading-6 entity uppercase font-medium vr-mb-1">As a developer</h3>
                <p class="entity text-small entity">
                    That is, <strong>my work lies at the intersection of design and back-end. I write HTML, CSS, SVG, and presentational JavaScript that powers Web user interfaces.
                </p>
            </div>
        </div>
    </div>
</section>