<div class="description">
    <div class="description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="20%, 49.9%" data-scroll-class="description__item--active">
        <span>I <strong>lead front-end development</strong> for companies and organizations.</span>
        </div>
    <div class="description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 49.9%" data-scroll-class="description__item--active">
        <span>Building <strong>resilient UI foundations</strong> for their online experience.</span>
        </div>
    <div class="description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 20%" data-scroll-class="description__item--active">
        <span>I’ve worked on projects of different scales — from <strong>small micro-sites </strong> to <strong>larger Web applications</strong>.</span>
        </div>
    <!-- <div class="description__item vr-pt-2" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 20%" data-scroll-class="description__item--active">
        <span>With expertise in number of domains</span>
        <ul class="description__item__list vr-mt-1">
            <li class="description__item__list__item tag">Art direction</li>
            <li class="description__item__list__item tag">Company branding</li>
            <li class="description__item__list__item tag">UI / UX Design</li>
            <li class="description__item__list__item tag">Developement</li>
            <li class="description__item__list__item tag">Scenography</li>
        </ul>
    </div> -->
</div>
