
    <!-- <div data-marquee  data-marquee-start="0" data-marquee-end="-600" class="marquee" style="height:100px; position: absolute; top:0;" data-scroll-section>
      <div data-marquee-container  class="marquee__content entity">
        <div data-marquee-item class="">
          {{ readFile "static/images/shape.svg" | safeHTML }}
        </div>
        <div data-marquee-item class="">
          {{ readFile "static/images/shape.svg" | safeHTML }}
        </div>
      </div>
  </div> -->
    <!-- <canvas class="canvas entity" data-boids data-boids-color="rgba(255,255,255,0.9)"></canvas> -->