<h1 class="landing__content__title">
    Hello,
  <br/>
  I'm a senior Designer
  <!-- <span class="landing__content__title__span" data-scroll data-scroll-repeat="true" data-scroll-offset="0%, 100%" data-scroll-class="landing__content__title__span--visible">designer</span>
  <span class="landing__content__title__span" data-scroll data-scroll-repeat="true" data-scroll-offset="49%, 150%" data-scroll-class="landing__content__title__span--visible">developer</span> -->
</h1>
<p class="landing__content__text">Focused on creating <strong>long lasting experiences</strong>.</p>

