<section id="landing" class="section landing" data-scroll-section>
  {{ partial "sections/nav" }}

    <div class="landing__content container">
      <div class="cb-particles">
        <div class="cb-particles-item -black -dot -v1 -s1 -c3"></div>
        <div class="cb-particles-item -black -dot -v2 -s2 -c4"></div>
        <div class="cb-particles-item -black -dot -v3 -s3 -c5"></div>
        <div class="cb-particles-item -black -dot -v4 -s1 -c1"></div>
        <div class="cb-particles-item -black -dot -v5 -s2 -c4"></div>
        <div class="cb-particles-item -black -dot -v6 -s3 -c2"></div>
        <div class="cb-particles-item -black -dot -v7 -s4 -c1"></div>
        <div class="cb-particles-item -black -dot -v8 -s2 -c4"></div>
        <div class="cb-particles-item -black -dot -v9 -s3 -c5"></div>
        <div class="cb-particles-item -black -dot -v10 -s3 -c1"></div>
        <div class="cb-particles-item -black -dot -v11 -s3 -c3"></div>
      </div>
      <h1 class="heading-0 entity uppercase landing__title">
            Hello,
          <br/>
          I'm a senior <span data-change-text data-change-text-values="Designer, Developer">designer</span>
        </h1>
        <p class="entity text-base landing__text vr-mt-1 ml-2">Focused on creating <strong>long lasting experiences</strong>.</p>
    </div>
    <!-- data-scroll data-scroll-speed="-2" -->
    <div class="invite-to-scroll-with-text"  ></div>
  </section>
