<nav class="nav">
    <div class="nav__content">
      <a href="/" data-cursor="-lg"  class="nav__content__name">Thibaud Frere</a>
  </div>
</nav>

<!-- <ul class="nav__content__socials">
  <li class="nav__content__socials__item" id="linkedin-stick-area">
      <a target="_blank" data-cursor="-lg" class="nav__content__socials__item__link" href="https://linkedin.com/in/thibaud-frere">
        {{ readFile "static/images/linkedin.svg" | safeHTML }}
      </a>
  </li>
  <li class="nav__content__socials__item" id="behance-stick-area">
      <a target="_blank" data-cursor="-lg" class="nav__content__socials__item__link" href="https://behance.net/frerethibaud9207">
        {{ readFile "static/images/behance.svg" | safeHTML }}
      </a>
  </li>
  <li class="nav__content__socials__item" id="github-stick-area">
      <a target="_blank" data-cursor="-lg" class="nav__content__socials__item__link" href="https://github.com/tfrere">
        {{ readFile "static/images/github.svg" | safeHTML }}
      </a>
  </li>
  <li class="nav__content__socials__item" id="codepen-stick-area">
      <a target="_blank" data-cursor="-lg" class="nav__content__socials__item__link" href="https://codepen.io/tfrere">
        {{ readFile "static/images/codepen.svg" | safeHTML }}
      </a>
  </li>
</ul> -->