{{$site := .Site}}
<section class="section prices section--with-padding" data-scroll-section>
  <div class="absolute opacity-50">
      {{ readFile "static/images/lines-2.svg" | safeHTML }}
  </div>
    <div class="prices-container text-centers section__content container" >
      <!-- <div class="wave vr-mb-4"></div> -->
        <h2 class="entity heading-1 entity" >AWARDS</h2>
        <div class="prices vr-mt-3">
            <div class="prices__item">
                <h2 class="prices__item__number">01</h2>
                <img class="prices__item__image" src="{{ $site.BaseURL }}images/logos-black/png/ideo.png" />
                <div class="prices__item__infos">
                  <h3 class="prices__item__infos__title entity">Haigo Design thinking</h3>
                  <p class="prices__item__infos__place entity">HEC Paris</p>
                </div>
            </div>
            <div class="prices__item">
                <h2 class="prices__item__number">02</h2>
                <img class="prices__item__image" src="{{ $site.BaseURL }}images/logos-black/png/42.png" />
                <div class="prices__item__infos">
                  <h3 class="prices__item__infos__title entity">Wearhacks Myo</h3>
                  <p class="prices__item__infos__place entity">42 Paris</p>
                </div>
            </div>
            <div class="prices__item">
                <h2 class="prices__item__number">03</h2>
                <img class="prices__item__image" src="{{ $site.BaseURL }}images/logos-black/png/telecomparis.png" />
                <div class="prices__item__infos">
                  <h3 class="prices__item__infos__title entity">Innovators in motion</h3>
                  <p class="prices__item__infos__place entity">Telecom Paris</p>
                </div>
            </div>
        </div>
    </div>
</section> 