
<div class="container mx-auto">
<div class="vr-mb-4">
    <h2 class="heading-1 entity">AND SOME<br/> WORK</h2>
    <p class="text-base entity w-8/12 vr-mt-1"> A showcase of <b> projects</b> that i've made this year from scenography to integration. This is another sentence to fill a bit. And this is another one.</p>
</div>
</div>

<div class="container mx-auto vr-mt-4 ">
<div class="square-grid">
    {{ range $i, $item := where .Site.RegularPages "Type" "projects" }}
        <div class="square-grid__item">
            {{ $seed := "foo" }}
            {{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}

            <style>
            .-color-{{ $random }}:before {
                background-color:{{$item.Params.color}}!important;
            }
            </style>

            <a data-cursor="-lg -color-{{ $random }}" data-cursor-text="see more" href="{{$item.Params.externalurl}}" target="_blank" rel="nofollow"  class="slide__content">
            {{ $images := $item.Resources }}
            {{ with $item.Resources.ByType "image" }}
                {{ range first 1 . }}
                {{ partial "components/parallax-image" (dict "Site" $.Site "image" . "color" $item.Params.color "hasToScrub" true) }}
                <!--    <img src="{{.Permalink}}"/>-->
                {{ end }}
            {{ end }}
            <span class="projects__item__label entity">
                <strong>{{$item.Title}}</strong> – {{$item.Params.description}} 
                <!-- | {{$item.Params.client}} -->
                <!-- | {{  $item.PublishDate.Format "January 2006" }} -->
            </span>
            </a>
        </div>
    {{ end }}
</div>
