<div class="projects__grid" >
    <div class="projects__grid__column"></div>
    {{ range $i, $item := where .Site.RegularPages "Type" "projects" }}
        <div class="projects__grid__item projects__grid__item--{{$item.Params.width}}">

            {{ $seed := "foo" }}
            {{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}

            <style>
                .-color-{{ $random }}:before {
                    background-color:{{$item.Params.color}}!important;
                }
            </style>

            {{ $images := $item.Resources }}

            <!-- {{ range $item.Resources }}
                {{ if (in .MediaType.Suffixes "mp4") }}
                    <video class="projects__grid__item__video" autoplay loop muted>
                        <source src="{{ .Permalink }}" type="video/mp4">
                    </video>    
                {{ end }}
            {{ end }} -->

            {{ with $item.Resources.ByType "image" }}
                {{ range first 1 . }}
                {{ partial "components/responsive-image" (dict "Site" $.Site "image" . "color" $item.Params.color "hasToScrub" false) }}
                <!--    <img src="{{.Permalink}}"/>-->
                {{ end }}
            {{ end }}
            <span class="projects__grid__item__label entity">
                {{$item.Title}}
                <!-- #{{$i}} -->
            </span>
        </div>
    {{ end }}
</div>
