

<div class="md:flex" >
    <div class="flex-1">
        <h3 class="heading-5 md:heading-3 uppercase entity vr-mb-3"  >Over 10 years<br/> in the game</h3>
    </div>
    <div class="flex-1">
        <!-- <div class="growing-line growing-line--left" data-scroll data-scroll-repeat="true" data-scroll-offset="10%" data-scroll-class="growing-line--active" > </div> -->
        <div class="md:flex gap-12" >
            <div class="">
                <h3 class="heading-6 entity uppercase font-medium vr-mb-1">As a designer</h3>
                <p class="entity text-small entity">
                    I’m a design-minded front-end developer. Sometimes people who do what I do are also called front-end designers, UI developers, UI engineers, or design engineers.
                </p>    
            </div>
            <div class="">
                <h3 class="heading-6 entity uppercase font-medium vr-mb-1">As a developer</h3>
                <p class="entity text-small entity">
                    That is, <strong>my work lies at the intersection of design and back-end. I write HTML, CSS, SVG, and presentational JavaScript that powers Web user interfaces.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="md:flex" >
    <div class="flex-1">
        <h2 class="entity heading-5 md:heading-3 uppercase vr-mb-3" >WITH FIEW<br/> AWARDS</h2>
    </div>
    <div class="flex-1">
        <ul class="pricess ">
            <li class="pricess__item" >
                <h2 class="pricess__item__number">03.</h2>
                <div class="pricess__item__infos">
                <h3 class="pricess__item__infos__title text-base font-bold entity">Haigo Design thinking</h3>
                <p class="pricess__item__infos__place  text-small entity">HEC Paris</p>
                </div>
            </li>
            <li class="pricess__item" >
                <h2 class="pricess__item__number">03.</h2>
                <h3 class="pricess__item__infos__title text-base font-bold entity">Wearhacks Myo</h3>
                <p class="pricess__item__infos__place  text-small entity">42 Paris</p>
            </li>
            <li class="pricess__item" >
                <h2 class="pricess__item__number">03.</h2>
                <h3 class="pricess__item__infos__title text-base font-bold entity">Innovators in motion</h3>
                <p class="pricess__item__infos__place  text-small entity">Telecom Paris</p>
            </li>
        </ul>
    </div>
</div> -->

