<div data-scroll-description class="description relative">
    <div data-scroll-description-circle class="description__active-circle">
        <div class="description__active-circle__element"></div>
    </div>
    <div data-scroll-description-item class="description__item description__item--title" data-scroll data-scroll-repeat="true" data-scroll-offset="35%, 49.99%" data-scroll-class="description__item--active">
        <span class="description__item--title" >Most of my work can be found <a data-media-video="personal" data-cursor="-media"  class="underline" target="_blank" rel="nofollow" href="https://www.behance.net/frerethibaud9207">here</a>.</span>
    </div>
    <div data-scroll-description-item class="w-8/12 description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 35%" data-scroll-class="description__item--active">
        <span>Some of my recent <strong>visual</strong> projects are just below <img class="inline-icon ml-1" src="images/pointing.png"/></span>
    </div>
</div>


<!-- <div  class="description relative">
    <div class="description__item description__item--title" >
        <span class="description__item--title" >Most of my UI work can be found <a data-media-video="personal" data-cursor="-media"  class="underline" target="_blank" rel="nofollow" href="https://www.behance.net/frerethibaud9207">here</a>.</span>
    </div>
    <div class="w-8/12 description__item" >
        <span>And for more <strong>graphic</strong> things, here’s some personal projects <img class="inline-icon ml-1" src="images/pointing.png"/></span>
    </div>
</div> -->
