<div data-scroll-description class="description relative">
    <div data-scroll-description-circle class="description__active-circle">
        <div data-magnetic class="description__active-circle__element"></div>
    </div>
    <div data-scroll-description-item class="description__item description__item--title" data-scroll data-scroll-repeat="true" data-scroll-offset="35%, 49.99%" data-scroll-class="description__item--active">
        <span class="description__item--title" >Most of my corporate work can be found <a data-media-video="personal" data-cursor="-media"  class="underline" target="_blank" rel="nofollow" href="https://behance.com/tfrere">here</a>.</span>
    </div>
    <div data-scroll-description-item class="w-8/12 description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 35%" data-scroll-class="description__item--active">
        <span>And for more <strong>personal</strong> things, here’s some stuff ↓</span>
    </div>
</div>
