<div data-scroll-description class="description relative">
    <div data-scroll-description-circle  class="description__active-circle">
        <div class="description__active-circle__element"></div>
    </div>
    <div data-scroll-description-item class="description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="35%, 49.99%" data-scroll-class="description__item--active">
        <span>I <strong>lead front-end development</strong> for companies and organizations.</span>
    </div>
    <div data-scroll-description-item class="description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 49.99%" data-scroll-class="description__item--active">
        <span>I also help <a class="underline font-bold" data-media-video="obvious" data-cursor="-media" href="https://obvious-art.com" target="_blank" rel="noopener">international artists</a> to make <strong>interactive experiments</strong>.</span>
    </div>
    <div data-scroll-description-item class="description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 49.99%" data-scroll-class="description__item--active">
        <span>I’ve worked on projects of different scales — from <strong>small micro-sites </strong> to <strong>larger Web applications</strong>.</span>
    </div>
    <div data-scroll-description-item class="description__item" data-scroll data-scroll-repeat="true" data-scroll-offset="50%, 35%" data-scroll-class="description__item--active">
        <span>For wonderful people <img class="inline-icon ml-1" src="images/pointing.png"/></span>
    </div>
</div>


<!-- <div data-scroll-description data-sentence-focus class="description relative">
    <div data-scroll-description-circle  class="description__active-circle">
        <div class="description__active-circle__element"></div>
    </div>
    <div data-scroll-description-item class="description__item" data-sentence-focus-item data-sentence-focus-offset="35%, 49.99%">
        <span>I <strong>lead front-end development</strong> for companies and organizations.</span>
    </div>
    <div data-scroll-description-item class="description__item" data-sentence-focus-item data-sentence-focus-offset="50%, 49.99%">
        <span>I also help <a class="underline font-bold" data-media-video="obvious" data-cursor="-media" href="https://obvious-art.com" target="_blank" rel="noopener">international artists</a> to make <strong>interactive experiments</strong>.</span>
    </div>
    <div data-scroll-description-item class="description__item" data-sentence-focus-item data-sentence-focus-offset="50%, 49.99%">
        <span>I’ve worked on projects of different scales — from <strong>small micro-sites </strong> to <strong>larger Web applications</strong>.</span>
    </div>
    <div data-scroll-description-item class="description__item" data-sentence-focus-item data-sentence-focus-offset="50%, 35%">
        <span>For wonderful people <img class="inline-icon ml-1" src="images/pointing.png"/></span>
    </div>
</div> -->
 

<!-- <div  class="description relative">
    <div  class="description__item" >
        <span>I <strong>lead front-end development</strong> for companies and organizations.</span>
    </div>
    <div  class="description__item" >
        <span>I also help <a class="underline font-bold" data-media-video="obvious" data-cursor="-media" href="https://obvious-art.com" target="_blank" rel="noopener">international artists</a> to make <strong>interactive experiments</strong>.</span>
    </div>
    <div  class="description__item" >
        <span>I’ve worked on projects of different scales — from <strong>small micro-sites </strong> to <strong>larger Web applications</strong>.</span>
    </div>
    <div  class="description__item" >
        <span>For wonderful people <img class="inline-icon ml-1" src="images/pointing.png"/></span>
    </div>
</div> -->

<!-- ↓ -->
