<div  class="description relative">
    <div  class="description__item" >
        <span>I <strong>lead front-end development</strong> for companies and organizations.</span>
    </div>
    <div  class="description__item" >
        <span>I also help <a class="underline font-bold" data-media-video="obvious" data-cursor="-media" href="https://obvious-art.com" target="_blank" rel="noopener">international artists</a> to make <strong>interactive experiments</strong>.</span>
    </div>
    <div  class="description__item" >
        <span>I’ve worked on projects of different scales — from <strong>small micro-sites </strong> to <strong>larger Web applications</strong>.</span>
    </div>
    <div  class="description__item" >
        <span>For wonderful people ↓
            <!-- <img class="inline-icon ml-1" src="images/pointing.png"/> -->
        </span>
    </div>
</div>
