<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body id="grid">

        <div id="preloader" class="preloader">
            <div id="preloader" class="preloader__content">
                <!-- loading -->
            </div>
        </div>

        <canvas id="wave-transition"></canvas>

        <nav class="nav">
            <div class="nav__content">
              <a href="/" data-cursor="-lg"  class="nav__content__name entity">Thibaud frere</a>
              <ul class="nav__content__socials entity">
                <li class="nav__content__socials__item" id="linkedin-stick-area">
                  <!-- data-magnetic data-cursor-stick="#linkedin-stick-area" -->
                    <a target="_blank" data-cursor="-lg" class="nav__content__socials__item__link" href="https://linkedin.com/in/thibaud-frere"><img alt="linkedin" src="/images/linkedin.svg"/></a>
                </li>
                <li class="nav__content__socials__item" id="behance-stick-area">
                  <!-- data-magnetic data-cursor-stick="#behance-stick-area" -->
                    <a target="_blank" data-cursor="-lg" class="nav__content__socials__item__link" href="https://behance.net/frerethibaud9207"><img alt="behance" src="/images/behance.png"/></a>
                </li>
                <li class="nav__content__socials__item" id="github-stick-area">
                  <!-- data-magnetic data-cursor-stick="#github-stick-area" -->
                    <a target="_blank" data-cursor="-lg" class="nav__content__socials__item__link" href="https://github.com/tfrere"><img alt="github" src="/images/github.svg"/></a>
                </li>
                <li class="nav__content__socials__item" id="codepen-stick-area">
                  <!-- data-magnetic data-cursor-stick="#codepen-stick-area" -->
                    <a target="_blank" data-cursor="-lg" class="nav__content__socials__item__link" href="https://codepen.io/tfrere"><img alt="codepen" src="/images/codepen.png"/></a>
                </li>
            </ul>
          </div>
        </nav>

        <canvas id="color-splat"></canvas>
        <div id="fps-counter"></div>
        <div id="cursor"></div>
        
        {{- block "main" . }}{{- end }}
    </body>
</html>

