#fps-counter {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999999999999999999999999;
  color: red;
  font-weight: 900;
}

#color-splat,
#cursor,
#wave-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999999999999999999999999;
}

#wave-transition {
}
#color-splat {
  mix-blend-mode: difference;
}
.preloader {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  pointer-events: none;
  z-index: 999999999999999999999999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.preloader__content {
  color: white;
  text-transform: uppercase;
}
