<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body id="grid" class="typeface">

        <div id="preloader" class="preloader">
            <div id="preloader" class="preloader__content">
                loading
            </div>
        </div>

        <canvas id="wave-transition"></canvas>

        <nav class="nav">
            <div class="nav__content">
              <h5 class="nav__content__name entity">Thibaud frere</h5>
              <ul class="nav__content__socials entity">
                <li class="nav__content__socials__item" id="linkedin-stick-area">
                    <a target="_blank" data-cursor="-lg" class="nav__content__socials__item__link" href="https://linkedin.com/in/thibaud-frere"><img alt="linkedin" src="/images/linkedin.png"/></a>
                </li>
                <li class="nav__content__socials__item" id="behance-stick-area">
                    <a target="_blank" data-cursor="-lg" class="nav__content__socials__item__link" href="https://behance.net/frerethibaud9207"><img alt="behance" src="/images/behance.png"/></a>
                </li>
                <li class="nav__content__socials__item" id="github-stick-area">
                    <a target="_blank" data-cursor="-lg" class="nav__content__socials__item__link" href="https://github.com/tfrere"><img alt="github" src="/images/github.png"/></a>
                </li>
                <li class="nav__content__socials__item" id="codepen-stick-area">
                    <a target="_blank" data-cursor="-lg" class="nav__content__socials__item__link" href="https://codepen.io/tfrere"><img alt="codepen" src="/images/codepen.png"/></a>
                </li>
            </ul>
          </div>
        </nav>

        <canvas id="color-splat"></canvas>
        <div id="fps-counter"></div>

        <div class="cb-particles">
            <div class="cb-particles-item -black -dot -v1 -s1 -c3"></div>
            <div class="cb-particles-item -black -dot -v2 -s2 -c4"></div>
            <div class="cb-particles-item -black -dot -v3 -s3 -c5"></div>
            <div class="cb-particles-item -black -dot -v4 -s1 -c1"></div>
            <div class="cb-particles-item -black -dot -v5 -s2 -c4"></div>
            <div class="cb-particles-item -black -dot -v6 -s3 -c2"></div>
            <div class="cb-particles-item -black -dot -v7 -s4 -c1"></div>
            <div class="cb-particles-item -black -dot -v8 -s2 -c4"></div>
            <div class="cb-particles-item -black -dot -v9 -s3 -c5"></div>
            <div class="cb-particles-item -black -dot -v10 -s3 -c1"></div>
            <div class="cb-particles-item -black -dot -v11 -s3 -c3"></div>
        </div>

        <section id="landing" class="section landing">
            <!-- data-3d-hover data-3d-hover-area="landing" -->

            <div class="landing__content container" >
                <!-- <h1 class="heading-0 entity uppercase landing__title">
                    Hello,
                  <br/>
                  I'm Thibaud
                </h1> -->

                <h1 class="heading-0 entity uppercase landing__title">
                    Hello,
                  <br/>
                  I'm a senior <span data-change-text data-change-text-values="Designer, Developer">designer</span>
                </h1>
                <p class="entity text-base landing__text vr-mt-1 ml-2">Focused on creating <strong>long lasting experiences</strong>.</p>
            </div>
            <div class="invite-to-scroll-with-text"></div>

        </section>

        <div data-marquee  data-marquee-start="0" data-marquee-end="-300" class="marquee" >
            <div data-marquee-container  class="marquee__content entity">
              <h3 data-marquee-item class="marquee__content__part text-stroke"> CAREFULY CRAFTING SINCE SINCE 2008 </h3>
            </div>
          </div>


        <section class="section">
            <div class="section__content container">
                <p class="entity text-lead">
                    I lead front-end development for companies and organizations, building <strong class="overline">resilient UI foundations</strong>. I’ve worked on projects of different scales from <strong class="">small micro-sites</strong> to <strong class="">larger Web applications</strong>.
                </p>
                <p class="entity text-small columns vr-mt-1">
                    I’m a design-minded front-end developer. Sometimes people who do what I do are also called front-end designers, UI developers, UI engineers, or design engineers.
                    That is, <strong>my work lies at the intersection of design and back-end</strong>. I write HTML, CSS, SVG, and presentational JavaScript that powers Web user interfaces. With a <strong>focus on responsive design, semantic markup, and performance</strong>. I build <strong>resilient, inclusive foundations for user interfaces</strong>, marrying cutting-edge techniques with foundational Web standards.
                    I collaborate with designers — preferrably in the design phase — to <strong>translate designs into live prototypes</strong>, resilient Web user interfaces, and design systems. As a design engineer, <strong>I provide feedback to designers to ensure that the design translates well to the browser</strong>, ensuring usability of the product by as many people as possible, regardless of their context and how they use it.
                </p>
            </div>
        </section>



                    <!-- {{ partial "stamp" }} -->


        <!-- <div class="section"> -->
            <!-- <div class="section__content container"> -->
                <!-- <h2 class="entity heading-1 font-bold">This is a title</h2> -->
                <!-- <p class="entity text-lead">A typical portfolio is a <strong class="overline">balanced mix</strong> of some work, <a class="underline" href="#">ongoing learning</a>, <a class="underline" href="#">recreation</a>, <a class="underline" href="#">travel and avocations</a>, reconnecting with <strong>family</strong> and <strong>friends</strong>, and giving back.</p> -->
                <!-- <p class="entity text-lead">
                    I lead front-end development for companies and organizations, building <strong class="overline">resilient UI foundations</strong>. I’ve worked on projects of different scales from <strong class="">small micro-sites</strong> to <strong class="">larger Web applications</strong>.
                </p> -->
                <!-- <p class="entity text-small columns vr-mt-1">
                    I'm a french designer
                </p> -->
            <!-- </div> -->
        <!-- </div> -->
<!-- 

          <div class="cb-layout" id="view-main">
            <div class="cb-content">
           
              <section class="cb-demo">
                <div class="cb-demo-content">
                  <div class="cb-demo-container">
                    <div class="cb-demo-heading">
                      <div class="cb-demo-shapes">
                        <div class="cb-demo-shape -v8"></div>
                        <div class="cb-demo-shape -v9"></div>
                      </div>
                      <div class="cb-demo-header">
                        <h2>Cool<br /> squares</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="cb-demo -inverse">
                <div class="cb-demo-content">
                  <div class="cb-demo-container">
                    <div class="cb-demo-heading">
                      <div class="cb-demo-shapes">
                        <div class="cb-demo-shape -v10"></div>
                      </div>
                      <div class="cb-demo-header">
                        <h2>Jelly<br /> belly</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div> -->



        <!-- <div class="black section vr-mt-4">
            <div class="section__content container">
                <h2 class="entity heading-3 font-bold vr-mt-1">OFFERS A COMPELLING ALTERNATIVE TO <span class="text-stroke">TRADITIONAL RETIREMENT</span>. IT IS A NEW WAY OF <span class="text-stroke">THINKING AND LIVING</span> IN EXTENDED MIDDLE AGE. </h2>
                <p class="entity text-small vr-mt-1">
                    — Benjamin Franklin
                </p>
            </div>
        </div> -->

        <section class="black section--with-padding section ">
            <div class="wave-separator"><img src="/images/wave.svg"/></div>
            <div class="section__content">
                <div class="container mx-auto">
                    <h2 class="entity heading-2 font-bold uppercase vr-mb-4">We worked<br/> together.</h2>
                </div>
                <!--
                    <div class="logo-grid">
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/matthieuricard.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/cite-des-sciences.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/radio-latina.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/femis.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/bdrc.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/humabio.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/labrh.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/landskies.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/universcience.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/wort.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/bpifrance.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/obvious.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/luxtimes.png"/></div>
                        <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-white/amapa.png"/></div>
                        <div id="stick-area" class="entity logo-grid__item logo-grid__item--stroke">
                            <div data-magnetic data-cursor-stick="#stick-area" data-cursor="-lg">toto</div>
                        </div> 
                    </div>
                -->
                <!-- <div class="logo-grid">
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/matthieuricard.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/cite-des-sciences.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/radio-latina.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/femis.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/bdrc.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/humabio.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/labrh.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/landskies.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/universcience.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/wort.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/bpifrance.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/obvious.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/luxtimes.png"/></div>
                    <div class="entity logo-grid__item"><img src="{{ .Site.BaseURL }}images/logos-black/amapa.png"/></div>
                    <div   data-magnetic class="entity logo-grid__item logo-grid__item--center">
                         <div  class="logo-grid__item__button">You ?</div>
                    </div> 
                </div>
                -->

                {{$site := .Site}}

                <style>
                    #preloadedImages
                    {
                        width: 0px;
                        height: 0px;
                        display: inline;
                        background-image: url({{ $site.BaseURL }}images/logos-black/matthieuricard.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/luxtimes.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/bdrc.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/amapa.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/bpifrance.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/radio-latina.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/femis.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/humabio.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/labrh.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/cite-des-sciences.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/landskies.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/wort.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/ideo.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/42.png);
                        background-image: url({{ $site.BaseURL }}images/logos-black/telecomparis.png);
                    }
                </style>
                <div data-marquee data-marquee-start="-600" data-marquee-end="-300" class="clients__marquee">
                    <div data-marquee-container  class="clients__marquee__content">
                        {{ range $index, $num := (seq 3) }}
                            <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/luxtimes.png"/></div>
                            <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/bdrc.png"/></div>
                            <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/matthieuricard.png"/></div>
                            <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/cite-des-sciences.png"/></div>
                            <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/femis.png"/></div>
                            <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/radio-latina.png"/></div>
                        {{ end }}

                    </div>
                </div>                    
                <div data-marquee data-marquee-start="-300" data-marquee-end="-600" class="clients__marquee clients__marquee--2">
                    <div data-marquee-container class="clients__marquee__content">
                        {{ range $index, $num := (seq 3) }}
                            <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/humabio.png"/></div>
                            <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/amapa.png"/></div>
                            <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/labrh.png"/></div>
                            <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/landskies.png"/></div>
                            <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/wort.png"/></div>
                            <div data-marquee-item class="clients__marquee__content__tag"><img src="{{ $site.BaseURL }}images/logos-black/bpifrance.png"/></div>
                        {{ end }}
                    </div>
                </div>

            </div>

        </section>
        <!-- <div class="section section--with-padding vr-mt-4">

            <div class="section__content container">

                <h2 class="entity heading-2 font-bold heading--center">THIS IS A TITLE</h2>
                <p class="vr-mt-2 entity text-base text--center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et <strong>dolore magna aliqua</strong>. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>

            </div>


        </div> -->


        <section class="section section--with-padding">
            <div class="about__content__prices section__content container" >
                <h2 class="entity heading-2 w-5/12" >AWARDS.</h2>
                <div class="wave"></div>
                <div>
                    <div class="about__content__prices__item">
                        <img class="about__content__prices__item__image" src="{{ $site.BaseURL }}images/logos-black/ideo.png" />
                        <h3 class="about__content__prices__item__title">Design thinking</h3>
                        <p class="about__content__prices__item__place">HEC Paris</p>
                    </div>
                    <div class="about__content__prices__item">
                        <img class="about__content__prices__item__image" src="{{ $site.BaseURL }}images/logos-black/42.png" />
                        <h3 class="about__content__prices__item__title">Wearhacks Myo</h3>
                        <p class="about__content__prices__item__place">42 Paris</p>
                    </div>
                    <div class="about__content__prices__item">
                        <img class="about__content__prices__item__image" src="{{ $site.BaseURL }}images/logos-black/telecomparis.png" />
                        <h3 class="about__content__prices__item__title">Innovators in motion</h3>
                        <p class="about__content__prices__item__place">Telecom Paris</p>
                    </div>
                </div>
            </div>
        </section>
        
<!-- 
        <section class="section section--with-padding vr-mt-4">

            <div class="section__content container" >
                <h2 class="entity heading-3 w-5/12" >OVER 10 YEARS IN THE GAME</h2>
                <div class="columns vr-mt-2">
                    <h2 class="entity heading-4">THIS A TITLE</h2>
                    <p class="entity text-small vr-mt-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et <strong>dolore magna aliqua</strong>. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                    <h2 class="entity heading-4">THIS A TITLE</h2>
                    <p class="entity text-small vr-mt-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et <strong>dolore magna aliqua</strong>. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                </div>

            </div>
        </section> -->



<!-- 

        <div class="black section vr-mt-4">
            <div class="shape one"></div>
    
            <div class="section__content container">
                <h2 class="heading-1 entity uppercase">
                    Always keen
                    <br/>
                     for a good
                    <br/> 
                    collab
                </h2>

                  <p class="click-to-copy">
                      Feel free to write me an email at
                    <a data-click-to-copy id="click-to-copy" href="mailto:write@tfrere.fr" class="button">
                        <span class="button__content click-to-copy__email show">write@tfrere.com</span>
                        <span class="button__content click-to-copy__info-message">Copied !</span>
                    </a>
                  </p>
                  <p class="text-base entity">I’m available in <span class="underline underline--small">full remote</span> from Metz, France</p>

            </div>
        </div>


        <div class="section section--with-padding vr-mt-4">

            <div class="section__content container">

                <h2 class="entity heading-2 font-bold heading--center">AND MUCH MORE</h2>
                <p class="vr-mt-2 entity text-base text--center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et <strong>dolore magna aliqua</strong>. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>

            </div>


        </div>
 -->


 <section class="section section--with-padding vr-mt-4">

    <div class="section__content container" >
        <h2 class="entity heading-3 w-5/12" >MY WORK</h2>
        <a href="/visuals">Look at</a>
    </div>
</section>



        <section class="black section vr-mt-4 overflow-hidden">
            <canvas class="canvas entity" data-boids data-boids-color="rgba(255,255,255,0.5)"></canvas>
            <!-- <canvas class="canvas entity" data-blob data-blob-color="rgba(255,255,255,0.3)"></canvas> -->

            <!-- data-scroll-anim data-to='{"yPercent": "0"}' data-from='{"yPercent": "-100", "ease": "linear"}' data-options='{"start": "top bottom","end": "bottom top","scrub": "1","refreshPriority": "-14"}' -->
            <!-- data-scroll-anim data-to='{"opacity":"1","yPercent": "0", "skewY": "0"}' data-from='{"opacity":"0", "yPercent": "-10", "skewY": "5", "ease": "linear"}' data-options='{"start": "top bottom","end": "bottom top","scrub": "1","refreshPriority": "-14"}' -->
            <div class="section__content container z-0" > 
                <h2 class="heading-1 entity uppercase"> 
                    Always keen
                    <br/>
                     for a good
                    <br/> 
                    collab
                </h2>

                <!-- <h2 class="heading-1 entity uppercase title" data-scroll-call="popTitle"  >
                    <span class="word"><span class="word__content word__content--animate">Always</span></span>
                    <span class="word"><span class="word__content word__content--animate">keen</span></span>
                    <br/> 
                    <span class="word"><span class="word__content word__content--animate">for</span></span>
                    <span class="word"><span class="word__content word__content--animate">a</span></span>
                    <span class="word"><span class="word__content word__content--animate">good</span></span>
                    <br/>
                    <span class="word"><span class="word__content word__content--animate">collab</span></span>
                </h2> -->

                  <p class="click-to-copy">
                      Feel free to write me an email at
                      <a data-click-to-copy id="click-to-copy" href="mailto:write@tfrere.fr" class="button">
                        <span class="button__content click-to-copy__email show">write@tfrere.com</span>
                        <span class="button__content click-to-copy__info-message">Copied !</span>
                    </a>
                  </p>
                  <p class="text-base entity vr-mb-0">I’m available in <span class="underline underline--small">full remote</span> from Metz, France</p>

            </div>
        </section>
        <!-- <div  class="container mx-auto vr-mt-6">
            <h1 class="entity heading-1">h1 - TITLE</h1>
            <h2 class="entity heading-2 font-bold">h2 - TITLE - light</h2>
            <h3 class="entity heading-3 font-bold">h3 - TITLE - light</h3>
            <h4 class="entity heading-4 font-bold">h4 - TITLE - light</h4>
            <br/>
            <button class="switch-button vr-mt-2 button"><span class="button__content">This is a switch</span></button>
            <p class="entity text-lead">
                Lorem ipsum dolor sit amet, <strong class="overline">consectetur adipiscing</strong> elit, sed do eiusmod tempor <a class="underline" href="#">incididunt ut labore</a> et dolore magna aliqua. Ut <strong class="text-bold">enim ad minim veniam</strong>, quis nostrud exercitation.
            </p>
            <p class="entity text-base columns">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <div class="entity separator"></div>

            <h2 class="entity heading-2 font-bold">A TITLE THAT TAKES TWO LINES</h2>
            <p class="entity text-lead">
                I lead front-end development for companies and organizations, building <strong class="overline">resilient UI foundations</strong> for their online experiences. I’ve worked on projects of different scales — from <strong class="overline">small micro-sites</strong> to <strong class="overline">larger Web applications</strong>.
            </p>
            <p class="entity text-base columns">
                I’m a design-minded front-end developer. Sometimes people who do what I do are also called front-end designers, UI developers, UI engineers, or design engineers.
                That is, <strong>my work lies at the intersection of design and back-end</strong>. I write HTML, CSS, SVG, and presentational JavaScript that powers Web user interfaces. With a <strong>focus on responsive design, semantic markup, and performance</strong>. I build <strong>resilient, inclusive foundations for user interfaces</strong>, marrying cutting-edge techniques with foundational Web standards.
                I collaborate with designers — preferrably in the design phase — to <strong>translate designs into live prototypes</strong>, resilient Web user interfaces, and design systems. As a design engineer, <strong>I provide feedback to designers to ensure that the design translates well to the browser</strong>, ensuring usability of the product by as many people as possible, regardless of their context and how they use it.
            </p>
        </div> -->
        <script>
                var elem = document.getElementById('grid');
                document.addEventListener('keydown', function(e) {
                    if(e.key == "f") {
                        elem.classList.toggle('vr-grid');
                    }
                }, false);
        </script>    
        {{- partial "js.html" . -}}

    </body>

</html>


