<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="about page bg-pink">


            <svg class="absolute" width="2387px" height="1588px" viewBox="0 0 2387 1588" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Symbols</title>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="bg-svg" transform="translate(-420.000000, -133.000000)" stroke="#FFFFFF">
                        <path  class="layer layer-1" d="M2347.33735,765.623182 L2394.16889,1548.1131 L1557.31218,1555.60777 L1564.19226,783.509156 L2347.33735,765.623182 Z" id="Rectangle" transform="translate(1975.753548, 1160.612310) rotate(-33.000000) translate(-1975.753548, -1160.612310) "></path>
                        <circle  class="layer layer-2" id="Oval" cx="2354.84316" cy="585.872984" r="451.461948"></circle>
                        <path class="layer layer-3"  d="M585.669234,273.276582 L1382.40878,711.873913 L421.12574,1490.30557 L585.669234,273.276582 Z" id="Triangle"></path>
                    </g>
                </g>
            </svg>

            <div class="container about__container">
                <!-- <div class="test"></div>
                <div class="test-in"></div> -->
                <div class="about__container__losange hidden"></div>
                <h1 class="about__container__title">Web designer <span class="text-white">&</span><br/> Creative programmer</h1>
                <p class="about__container__desc">Carefully crafting things since 2008</p>
                <div class="about__content">
                    <div class="about__content__socials">
                        <a target="_blank" class="about__content__socials__item -level-1" href="https://github.com/tfrere"><img class="about__content__socials__item__image" src="{{ .Site.BaseURL }}images/github.svg"/></a>
                        <a target="_blank" class="about__content__socials__item -level-1" href="https://www.linkedin.com/in/thibaud-frere-3462b264"><img class="about__content__socials__item__image" src="{{ .Site.BaseURL }}images/linkedin.svg"/></a>
                        <a target="_blank" class="about__content__socials__item -level-1" href="https://www.behance.net/frerethibaud9207"><img class="about__content__socials__item__image" src="{{ .Site.BaseURL }}images/behance.svg"/></a>
                        <a target="_blank" class="about__content__socials__item -level-1" href="https://codepen.io/tfrere"><img class="about__content__socials__item__image" src="{{ .Site.BaseURL }}images/codepen.svg"/></a>
                    </div>
                    <p class="about__content__lead">
                        I lead front-end development for companies and organizations, building <strong>resilient UI foundations </strong> for their online experiences. I’ve worked on projects of different scales — from <strong>small micro-sites</strong> to <strong>larger Web applications</strong>.

                    </p>
                    <p class="about__content__text">
                        I’m a design-minded front-end developer. Sometimes people who do what I do are also called front-end designers, UI developers, UI engineers, or design engineers.
                        That is, my work lies at the intersection of design and back-end. I write HTML, CSS, SVG, and presentational JavaScript that powers Web user interfaces. With a focus on responsive design, semantic markup, and performance, I build resilient, inclusive foundations for user interfaces, marrying cutting-edge techniques with foundational Web standards.
                        I collaborate with designers — preferrably in the design phase — to translate designs into live prototypes, resilient Web user interafces, and design systems. As a design engineer, I provide feedback to designers to ensure that the design translates well to the browser, ensuring usability of the product by as many people as possible, regardless of their context and how they use it (screen readers, mobile phones, various browsers, etc.)
                    </p>
                    <h3 class="title-separator mb-12">
                        <span class="title-separator__text">Prices</span>
                    </h3>
                    <div class="about__content__prices">
                        <div class="about__content__prices__item level-1 transform translate-y-6">
                            <img class="about__content__prices__item__image" src="{{ .Site.BaseURL }}images/ideo.png"/>
                            <h3 class="about__content__prices__item__title">Design thinking</h3>
                            <p class="about__content__prices__item__place">IDEO @ HEC Paris</p>
                            <span class="about__content__prices__item__date">November 2016</span>
                        </div>
                        <div class="about__content__prices__item level-1">
                            <img class="about__content__prices__item__image" src="{{ .Site.BaseURL }}images/wearhack.png"/>
                            <h3 class="about__content__prices__item__title">Wearhacks Myo</h3>
                            <p class="about__content__prices__item__place">42 Paris</p>
                            <span class="about__content__prices__item__date">May 2015</span>
                        </div>
                        <div class="about__content__prices__item level-1 transform translate-y-6">
                            <img class="about__content__prices__item__image" src="{{ .Site.BaseURL }}images/telecomparis.png"/>
                            <h3 class="about__content__prices__item__title">Innovators in motion</h3>
                            <p class="about__content__prices__item__place">Telecom Paris</p>
                            <span class="about__content__prices__item__date">March 2014</span>
                        </div>
                    </div>
                    <h3 class="title-separator mb-16">
                        <span class="title-separator__text">Clients</span>
                    </h3>
                    
                    <div class="about__content__clients">
                        <img class="about__content__social__clients__image" src="{{ .Site.BaseURL }}images/bdrc.png"/>
                        <img class="about__content__social__clients__image" src="{{ .Site.BaseURL }}images/humabio.png"/>
                        <img class="about__content__social__clients__image" src="{{ .Site.BaseURL }}images/matthieuricard.png"/>
                        <img class="about__content__social__clients__image" src="{{ .Site.BaseURL }}images/luxtimes.png"/>
                        <img class="about__content__social__clients__image" src="{{ .Site.BaseURL }}images/wort.png"/>
                        <img class="about__content__social__clients__image" src="{{ .Site.BaseURL }}images/landskies.png"/>
                        <img class="about__content__social__clients__image mt-6 transform translate-y-3 " src="{{ .Site.BaseURL }}images/bpifrance.png"/>
                        <img class="about__content__social__clients__image mt-6 " src="{{ .Site.BaseURL }}images/femis.png"/>
                        <img class="about__content__social__clients__image mt-6 transform translate-y-4" src="{{ .Site.BaseURL }}images/labrh.png"/>
                    </div>
                </div>
                
            </div>
        </div>
        {{- partial "footer.html" . -}}
        <script>
            window.addEventListener("DOMContentLoaded", (event) => {
                $(function() {
                    console.log(0);
                    $(window).on("scroll", function(evt, chg) {
                        const offset1 = ($(window).scrollTop() / 2).toFixed(0);
                        const offset2 = ($(window).scrollTop() / 4).toFixed(0);
                        const offset3 = ($(window).scrollTop() / 6).toFixed(0);
                        $(".layer-1").css({
                            "transform": "translate3d(0," + -offset1 + "px, 0)"
                        });
                        $(".layer-2").css({
                            "transform": "translate3d(0," + -offset2 + "px, 0)"
                        });
                        $(".layer-3").css({
                            "transform": "translate3d(0," + -offset3 + "px, 0)"
                        });
                    });
                });
            });
        </script>
    </body>
</html>

