<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="about page bg-pink">
            <div class="page__background"></div>

            <div>
            <div class="about__hero">
                <div class="container about__hero__container">
                    {{ partial "shape" (dict "context" . "dotSize" 60) }}
                    <h1 class="about__hero__container__title">
                        <span class="word"><span class="word__content">Web</span></span>
                        <span class="word"><span class="word__content">designer</span></span>
                        <span class="word"><span class="word__content text-white">&</span></span>
                        <span class="word"><span class="word__content">Creative</span></span>
                        <span class="word"><span class="word__content">programmer</span></span>
                    </h1>                     
                    <span class="about__hero__container__desc">
                        <span class="word "><span class="word__content">Carefully crafting things since 2008</span></span>
                    </span>   
                </div>
            </div>
            <div class="container about__content">
                <p class="about__content__lead">
                    I lead front-end development for companies and organizations, building <strong class="underline">resilient UI foundations</strong> for their online experiences. I’ve worked on projects of different scales — from <strong class="underline">small micro-sites</strong> to <strong class="underline">larger Web applications</strong>.

                </p>
                <p class="about__content__text">
                    I’m a design-minded front-end developer. Sometimes people who do what I do are also called front-end designers, UI developers, UI engineers, or design engineers.
                    That is, <strong>my work lies at the intersection of design and back-end</strong>. I write HTML, CSS, SVG, and presentational JavaScript that powers Web user interfaces. With a <strong>focus on responsive design, semantic markup, and performance</strong>. I build <strong>resilient, inclusive foundations for user interfaces</strong>, marrying cutting-edge techniques with foundational Web standards.
                    I collaborate with designers — preferrably in the design phase — to <strong>translate designs into live prototypes</strong>, resilient Web user interafces, and design systems. As a design engineer, <strong>I provide feedback to designers to ensure that the design translates well to the browser</strong>, ensuring usability of the product by as many people as possible, regardless of their context and how they use it (screen readers, mobile phones, various browsers, etc.)
                </p>
                <h3 class="about__content__subtitle">
                    <span class="">Prices</span>
                    {{ partial "shape2" (dict "context" . "dotSize" 100) }}

                </h3>
                <div class="about__content__prices">
                    <a href="https://www.ideo.com/" class="about__content__prices__item level-1 transform translate-y-6">
                        <img class="about__content__prices__item__image" src="{{ .Site.BaseURL }}images/ideo.png"/>
                        <h3 class="about__content__prices__item__title">Design thinking</h3>
                        <p class="about__content__prices__item__place">IDEO @ HEC Paris</p>
                        <span class="about__content__prices__item__date">November 2016</span>
                    </a>
                    <a href="https://twitter.com/wearhacks"  class="about__content__prices__item level-1">
                        <img class="about__content__prices__item__image" src="{{ .Site.BaseURL }}images/wearhack.png"/>
                        <h3 class="about__content__prices__item__title">Wearhacks Myo</h3>
                        <p class="about__content__prices__item__place">42 Paris</p>
                        <span class="about__content__prices__item__date">May 2015</span>
                    </a>
                    <a href="https://www.telecom-paris.fr/"  class="about__content__prices__item level-1 transform translate-y-6">
                        <img class="about__content__prices__item__image" src="{{ .Site.BaseURL }}images/telecomparis.png"/>
                        <h3 class="about__content__prices__item__title">Innovators in motion</h3>
                        <p class="about__content__prices__item__place">Telecom Paris</p>
                        <span class="about__content__prices__item__date">March 2014</span>
                    </a>
                </div>
                <h3 class="about__content__subtitle mt-36">
                    <span class="">Clients</span>
                    {{ partial "shape2" (dict "context" . "dotSize" 100) }}
                </h3>
                
                <div class="about__content__clients">
                    <img class="about__content__social__clients__image" src="{{ .Site.BaseURL }}images/bdrc.png"/>
                    <img class="about__content__social__clients__image" src="{{ .Site.BaseURL }}images/humabio.png"/>
                    <img class="about__content__social__clients__image" src="{{ .Site.BaseURL }}images/matthieuricard.png"/>
                    <img class="about__content__social__clients__image" src="{{ .Site.BaseURL }}images/luxtimes.png"/>
                    <img class="about__content__social__clients__image" src="{{ .Site.BaseURL }}images/wort.png"/>
                    <img class="about__content__social__clients__image" src="{{ .Site.BaseURL }}images/landskies.png"/>
                    <img class="about__content__social__clients__image mt-6 transform translate-y-3 " src="{{ .Site.BaseURL }}images/bpifrance.png"/>
                    <img class="about__content__social__clients__image mt-6 " src="{{ .Site.BaseURL }}images/femis.png"/>
                    <img class="about__content__social__clients__image mt-6 transform translate-y-4" src="{{ .Site.BaseURL }}images/labrh.png"/>
                </div>

            </div>
        </div>
            {{- partial "footer.html" . -}}
            {{- partial "js.html" . -}}
        </div>
        <script>
            window.addEventListener("DOMContentLoaded", (event) => {
                $(function() {

                    var shapes = [
                        {
                        d:
                            "M10.7135105,97.0497966 C224.479278,110.844586 331.362162,117.74198 331.362162,117.74198 C331.362162,117.74198 513.713511,127.215679 513.713511,127.215679 C513.713511,127.215679 440.970091,470.113868 440.970091,470.113868 C440.970091,470.113868 43.4407909,503.049797 43.4407909,503.049797 C43.4407909,503.049797 32.5316974,367.716463 10.7135105,97.0497966 Z"
                        },
                        {
                        d:
                        "M-0.28648947,128.778075 C204.227804,113.10971 306.484951,105.275528 306.484951,105.275528 C306.484951,105.275528 533.713511,87.5042993 533.713511,87.5042993 C533.713511,87.5042993 494.034132,487.441005 494.034132,487.441005 C494.034132,487.441005 60.9052982,523.504299 60.9052982,523.504299 C60.9052982,523.504299 40.5080357,391.928891 -0.28648947,128.778075 Z"
                        }
                    ];

                    $(".shape").each(function () {
                        var shape = new MorphingShape($(this)[0], shapes);
                    });

                    var timeline = anime.timeline({
                    loop: false,
                    duration: 400,
                    });

                    anime.set(".word__content", {
                    translateY: "+=180px",
                    });

                    anime.set(".about__hero__container__desc", {
                    translateY: "+=25px",
                    opacity:0
                    });

                    anime.set(".shape", {
                    translateY: "+=50px",
                    opacity:0
                    });

                    anime.set(".about__content", {
                    translateY: "+=25px",
                    opacity:0
                    });


                    var animation = timeline
                    .add({
                        targets: ".shape",
                        translateY: "-=50px",
                        easing: "easeOutQuart",
                        opacity:1,
                        duration: 450,
                    })
                    .add({
                        targets: ".word__content",
                        translateY: "-=180px",
                        easing: "easeOutQuart",
                        delay: anime.stagger(50),
                    }, "-=300")
                    .add({
                        targets: ".about__hero__container__desc",
                        translateY: "-=25px",
                        easing: "easeOutQuart",
                        opacity:1,
                        delay: 100,
                        duration:150
                    }, "-=400")
                    .add({
                        targets: ".about__content",
                        translateY: "-=25px",
                        easing: "easeOutQuart",
                        opacity:1,
                        delay: 100,
                        duration:250
                    }, "-=50");

                });
            });
        </script>
    </body>
</html>

