<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VFFPXGBSP2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VFFPXGBSP2');
    </script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="/images/favicon.svg" />
    <meta name="author" content=" Thibaud FRERE"/>
    <meta name="copyright" content=" Thibaud FRERE"/>
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Thibaud FRERE Portfolio and online blog.">
    <link rel="canonical" href="{{ .Site.BaseURL }}" />

    <base href="{{ .Site.BaseURL }}">

    {{ $critical := resources.Get "css/sass/_critical.scss" | toCSS}}
    <link rel="stylesheet" href='{{ $critical.Permalink }}' data>
    

    {{ partialCached "css.html" . }}
    
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
    <!-- <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time> -->
    
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Thibaud Frere Portfolio" />
    <meta property="og:description" content="A French interaction designer" />
    <!-- <meta property="og:image" content="LINK TO THE IMAGE FILE" /> -->
    <!-- <meta property="og:url" content="PERMALINK" /> -->
    <meta property="og:site_name" content="Thibaud Frere Portfolio" />
    
    <meta name="twitter:title" content="Thibaud Frere Portfolio">
    <meta name="twitter:description" content="A French interaction designer">
    <!-- <meta name="twitter:image" content="LINK TO IMAGE"> -->
    <meta name="twitter:site" content="@tfrere">
    <meta name="twitter:creator" content="@tfrere">
    

</head>
