<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ .Site.BaseURL }}">

    {{- $blob := resources.Get "js/components/Blob.js" | babel  -}}
    {{- $morphingShape := resources.Get "js/components/MorphingShape.js" | babel  -}}
    {{- $anime := resources.Get "js/lib/anime.min.js" -}}
    {{- $chroma := resources.Get "js/lib/chroma.min.js" -}}
    {{- $jquery := resources.Get "js/lib/jquery.min.js" -}}
    {{- $debounce := resources.Get "js/lib/jquery.debounce.min.js" -}}
    {{- $mousewheel := resources.Get "js/lib/jquery.mousewheel.min.js" -}}
    {{- $scrollmagic := resources.Get "js/lib/jquery.scrollmagic.min.js" -}}
    {{- $imageloaded := resources.Get "js/lib/jquery.imageloaded.min.js" -}}
    {{- $fluidbox := resources.Get "js/lib/jquery.fluidbox.min.js" -}}
    {{- $masonry := resources.Get "js/lib/jquery.masonry.min.js" -}}
    {{- $lazyload := resources.Get "js/lib/lazyload.min.js" -}}
    {{- $romanize := resources.Get "js/lib/romanize.js" -}}
    {{- $fittext := resources.Get "js/lib/fittext.jquery.js" -}} 
    
    <script src={{$anime.Permalink}} type="text/javascript"></script>
    <script src={{$jquery.Permalink}} type="text/javascript"></script>
    <script src={{$chroma.Permalink}} type="text/javascript" ></script>
    <script src={{$debounce.Permalink}} type="text/javascript"></script>
    <script src={{$mousewheel.Permalink}} type="text/javascript"></script>
    <script src={{$scrollmagic.Permalink}} type="text/javascript"></script>
    <script src={{$imageloaded.Permalink}} type="text/javascript"></script>
    <script src={{$fluidbox.Permalink}} type="text/javascript"></script>
    <script src={{$masonry.Permalink}} type="text/javascript" ></script>
    <script src={{$lazyload.Permalink}} type="text/javascript" ></script>
    <script src={{$blob.Permalink}} type="text/javascript" ></script>
    <script src={{$morphingShape.Permalink}} type="text/javascript" ></script>
    <script src={{$romanize.Permalink}} type="text/javascript" ></script>
    <script src={{$fittext.Permalink}} type="text/javascript" ></script>
    {{ partialCached "css.html" . }}
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>
