<!-- 
    {{- $blob := resources.Get "js/components/Blob.js" | babel  -}}
    {{- $boids := resources.Get "js/components/Boids.js" | babel  -}}
    {{- $wave := resources.Get "js/components/Wave.js" | babel  -}}
    {{- $textType := resources.Get "js/components/TextType.js" | babel  -}}
    {{- $colorSplat := resources.Get "js/components/ColorSplat.js" -}} 
    {{- $dotGrid := resources.Get "js/components/DotGrid.js" -}} 
    {{- $cursor := resources.Get "js/components/Cursor.js" -}} 

    {{- $anime := resources.Get "js/lib/anime.min.js" -}}
    {{- $debounce := resources.Get "js/lib/jquery.debounce.min.js" -}}
    {{- $chroma := resources.Get "js/lib/chroma.min.js" -}}
    {{- $jquery := resources.Get "js/lib/jquery.min.js" -}}
    {{- $swiper := resources.Get "js/lib/swiper.min.js" -}}
    {{- $jsCookie := resources.Get "js/lib/js.cookie.min.js" -}}
    {{- $imageloaded := resources.Get "js/lib/jquery.imageloaded.min.js" -}}
    {{- $fluidbox := resources.Get "js/lib/jquery.fluidbox.min.js" -}}
    {{- $locomotivescroll := resources.Get "js/lib/locomotivescroll.min.js" -}} 

    <script src={{$anime.Permalink}} type="text/javascript"></script>
    <script src={{$jquery.Permalink}} type="text/javascript"></script>
    <script src={{$debounce.Permalink}} type="text/javascript"></script>
    <script src={{$swiper.Permalink}} type="text/javascript"></script>
    <script src={{$jsCookie.Permalink}} type="text/javascript"></script>
    <script src={{$imageloaded.Permalink}} type="text/javascript"></script>
    <script src={{$fluidbox.Permalink}} type="text/javascript"></script>
    <script src={{$locomotivescroll.Permalink}} type="text/javascript" ></script>
    
    <script src={{$blob.Permalink}} type="text/javascript" ></script>
    <script src={{$cursor.Permalink}} type="text/javascript" ></script>
    <script src={{$boids.Permalink}} type="text/javascript" ></script>
    <script src={{$colorSplat.Permalink}} type="text/javascript" ></script>
    <script src={{$wave.Permalink}} type="text/javascript" ></script>
    <script src={{$textType.Permalink}} type="text/javascript" ></script>
    <script src={{$dotGrid.Permalink}} type="text/javascript" ></script>

 -->
