{{- $transpiled := resources.Get "js/index.js" | babel  -}}
{{- $blob := resources.Get "js/components/Blob.js" | babel  -}}
{{- $anime := resources.Get "js/lib/anime.min.js" -}}
{{- $jquery := resources.Get "js/lib/jquery.min.js" -}}

<script src={{$anime.Permalink}} type="text/javascript"></script>
<script src={{$jquery.Permalink}} type="text/javascript"></script>
<script src={{$blob.Permalink}} type="text/javascript" ></script>
<script src={{$transpiled.Permalink}} type="text/javascript" ></script>

