{{ $seed := "foo" }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}

<svg class="shape-container" viewBox="0 0 600 600">
    <defs>
  
    
        <pattern id="{{$random}}" x="0" y="0" width='{{ .dotSize }}' height='{{ .dotSize }}' patternTransform='rotate(30)' patternUnits="userSpaceOnUse" width="54" height="54" viewBox="0 0 54 54">
          <rect x='0' y='0' width='100%' height='100%' fill='rgba(255,255,255,0.1)' />
          <g fill="white">
            <circle cx="1.5" cy="1.5" r="1.5" />
            <circle cx="10.507" cy="1.5" r="1.5" />
            <circle cx="19.573" cy="1.5" r="1.5" />
            <circle cx="28.579" cy="1.5" r="1.5" />
            <circle cx="37.47" cy="1.5" r="1.5" />
            <circle cx="46.476" cy="1.5" r="1.5" />
            <circle cx="1.5" cy="10.525" r="1.5" />
            <circle cx="10.507" cy="10.525" r="1.5" />
            <circle cx="19.573" cy="10.525" r="1.5" />
            <circle cx="28.579" cy="10.525" r="1.5" />
            <circle cx="37.47" cy="10.525" r="1.5" />
            <circle cx="46.476" cy="10.525" r="1.5" />
            <circle cx="1.5" cy="19.581" r="1.5" />
            <circle cx="10.507" cy="19.581" r="1.5" />
            <circle cx="19.573" cy="19.581" r="1.5" />
            <circle cx="28.579" cy="19.581" r="1.5" />
            <circle cx="37.47" cy="19.581" r="1.5" />
            <circle cx="46.476" cy="19.581" r="1.5" />
            <circle cx="1.5" cy="28.463" r="1.5" />
            <circle cx="10.507" cy="28.463" r="1.5" />
            <circle cx="19.573" cy="28.463" r="1.5" />
            <circle cx="28.579" cy="28.463" r="1.5" />
            <circle cx="37.47" cy="28.463" r="1.5" />
            <circle cx="46.476" cy="28.463" r="1.5" />
            <circle cx="1.5" cy="37.506" r="1.5" />
            <circle cx="10.507" cy="37.506" r="1.5" />
            <circle cx="19.573" cy="37.506" r="1.5" />
            <circle cx="28.579" cy="37.506" r="1.5" />
            <circle cx="37.47" cy="37.506" r="1.5" />
            <circle cx="46.476" cy="37.506" r="1.5" />
            <circle cx="1.5" cy="46.476" r="1.5" />
            <circle cx="10.507" cy="46.476" r="1.5" />
            <circle cx="19.573" cy="46.476" r="1.5" />
            <circle cx="28.579" cy="46.476" r="1.5" />
            <circle cx="37.47" cy="46.476" r="1.5" />
            <circle cx="46.476" cy="46.476" r="1.5" />
          </g>
        </pattern>
      </defs>
    <g class="shape z-10"  fill="url(#{{$random}})" fill="rgba(255,255,255,0.2)">
        <polygon id="Rectangle" points="0 74.1202395 601 88.3050934 550.564381 220.262377 30.521082 226.87976"></polygon>
    </g>
</svg>