<svg class="visuals__container__introduction__rectangle" viewBox="0 0 235 140">
    <defs>
      <pattern id="pattern-hex2" x="0" y="0" width="36" height="36" patternUnits="userSpaceOnUse" width="54" height="54" viewBox="0 0 54 54">
        <g fill="white">
          <circle cx="1.5" cy="1.5" r="1.5" />
          <circle cx="10.507" cy="1.5" r="1.5" />
          <circle cx="19.573" cy="1.5" r="1.5" />
          <circle cx="28.579" cy="1.5" r="1.5" />
          <circle cx="37.47" cy="1.5" r="1.5" />
          <circle cx="46.476" cy="1.5" r="1.5" />
          <circle cx="1.5" cy="10.525" r="1.5" />
          <circle cx="10.507" cy="10.525" r="1.5" />
          <circle cx="19.573" cy="10.525" r="1.5" />
          <circle cx="28.579" cy="10.525" r="1.5" />
          <circle cx="37.47" cy="10.525" r="1.5" />
          <circle cx="46.476" cy="10.525" r="1.5" />
          <circle cx="1.5" cy="19.581" r="1.5" />
          <circle cx="10.507" cy="19.581" r="1.5" />
          <circle cx="19.573" cy="19.581" r="1.5" />
          <circle cx="28.579" cy="19.581" r="1.5" />
          <circle cx="37.47" cy="19.581" r="1.5" /> 
          <circle cx="46.476" cy="19.581" r="1.5" />
          <circle cx="1.5" cy="28.463" r="1.5" />
          <circle cx="10.507" cy="28.463" r="1.5" />
          <circle cx="19.573" cy="28.463" r="1.5" />
          <circle cx="28.579" cy="28.463" r="1.5" />
          <circle cx="37.47" cy="28.463" r="1.5" />
          <circle cx="46.476" cy="28.463" r="1.5" />
          <circle cx="1.5" cy="37.506" r="1.5" />
          <circle cx="10.507" cy="37.506" r="1.5" />
          <circle cx="19.573" cy="37.506" r="1.5" />
          <circle cx="28.579" cy="37.506" r="1.5" />
          <circle cx="37.47" cy="37.506" r="1.5" />
          <circle cx="46.476" cy="37.506" r="1.5" />
          <circle cx="1.5" cy="46.476" r="1.5" />
          <circle cx="10.507" cy="46.476" r="1.5" />
          <circle cx="19.573" cy="46.476" r="1.5" />
          <circle cx="28.579" cy="46.476" r="1.5" />
          <circle cx="37.47" cy="46.476" r="1.5" />
          <circle cx="46.476" cy="46.476" r="1.5" />
        </g>
      </pattern>
    </defs>
    <polygon class="rectangle" fill="url(#pattern-hex2)" points="0.496109976 7.0996935 235.565804 1.4104571 208 111 15.1317792 103.951343" />
  </svg>

  