{{ define "main" }}


  <section id="landing" class="section landing">
    <div class="landing__content container" >
      <canvas class="canvas blob entity" data-blob data-blob-offset="50" data-blob-color="rgba(0,0,0,0.2)" ></canvas>
      <h1 class="heading-0 entity uppercase landing__title">
            Hello,
          <br/>
          I'm a senior <span data-change-text data-change-text-values="Designer, Developer">designer</span>
        </h1>
        <p class="entity text-base landing__text vr-mt-1 ml-2">Focused on creating <strong>long lasting experiences</strong>.</p>
    </div>
    <div class="invite-to-scroll-with-text"></div>
  </section>

  {{ partial "craft-sentence" }}

  {{ partial "description" (dict "Site" $.Site) }}

  <!-- {{ partial "stamp" }} -->

  {{ partial "clients" (dict "Site" $.Site) }}

  {{ partial "project-grid" (dict "Site" $.Site) }}


  <section class="black section contact">

    <!-- <div  class="shape shape--one"></div> -->

    <canvas class="canvas entity" data-boids data-boids-color="rgba(255,255,255,0.5)"></canvas>
    <div
      class="section__content container z-0" 
    >
        <h2 class="heading-1 entity uppercase"> 
            Always keen
            <br/>
            for a good
            <br/> 
            collab
        </h2>
          <p class="click-to-copy">
              Feel free to write me an email at
              <!-- data-cursor-text="copy" -->
              <a data-click-to-copy id="click-to-copy" href="mailto:write@tfrere.fr" class="button" data-cursor="-lg">
                <span class="button__content click-to-copy__email show">write@tfrere.com</span>
                <span class="button__content click-to-copy__info-message">Copied !</span>
            </a>
          </p>
          <p class="text-base entity vr-mb-0">I’m available in <span class="underline underline--small">full remote</span> from Metz, France</p>
    </div>
  </section>
  <script>
    var elem = document.getElementById('grid');
    document.addEventListener('keydown', function(e) {
        if(e.key == "f") {
            elem.classList.toggle('vr-grid');
        }
    }, false);
  </script>    
  {{- partial "js.html" . -}}

{{ end }}
