<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        <div id="grid"></div>
        <div class="preloader">
            <div class="preloader__content">
                loading
            </div>
        </div>
        {{ readFile "static/images/svg-filters.svg" | safeHTML }}
        <canvas id="color-splat" style="display:none"></canvas>

        <div id="page" data-scroll-container>
            
            <div data-scroll-section>
                <section class="section landing">
                    <canvas class="canvas" id="canvas"></canvas>
                    {{ partial "sections/nav" }}
                    <div class="landing__content container">
                        {{ partial "sections/landing-content" }}
                    </div>
                    <div class="invite-to-scroll-with-text"></div>
                </section>

                <section class="section description" >
                    <div class="container">
                        {{ partial "sections/whoiam-content" (dict "Site" $.Site) }}
                    </div>
                </section>

                <section class="clients">
                        {{ partial "sections/clients-content" (dict "Site" $.Site) }}
                </section>

                <section class="section">
                    <div class="mx-auto container">
                        {{ partial "sections/wheretofindmywork-content" (dict "Site" $.Site) }}
                    </div>
                </section>

                <section class="section projects">
                    <div class="projects__container">
                        {{ partial "sections/projects-content" (dict "Site" $.Site) }}
                    </div>
                </section>

                <section class="section contact">
                    <div class="contact__container container">
                        {{ partial "sections/contact-content" (dict "Site" $.Site) }}
                    </div>
                </section>
            </div>

        </div>

        {{- $transpiled := resources.Get "js/index.js" | js.Build (dict "minify" true "target" "es2015") | fingerprint  -}}
        <script src={{$transpiled.Permalink}} type="text/javascript"></script>

      </body>
</html>