.about {
}

.about__hero {
  @apply relative flex items-center justify-center;
  min-height:50vh;
}

.about__hero__container {
  @apply relative mt-32;
}

.about__hero__container__title {
  @apply text-7xl font-serif italic font-black z-20 relative;
  font-size:5.5rem;
}

.about__hero__container__desc {
  @apply text-2xl mt-8 z-20 relative px-2 inline-block;
  background-color: var(--background-color);
  transition: background-color var(--background-transition-duration) var(--background-transition-ease);
}

.about__hero__container__losange {
  @apply absolute top-0 left-0 bg-cover;
  z-index: 0;
  width:500px * 1.4;
  height:300px * 1.4;
  left:0px;
  top:-40px;
}


.about__content__socials {
  @apply flex flex-row mt-32 mb-8;
}

.about__content__socials__item {
  @apply flex items-center justify-center px-4 py-4 mr-4;
  // border:2px solid white;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.about__content__socials__item__image {
}

.about__content__lead {
  @apply inline-block text-black font-text2 text-4xl mb-12 leading-normal text-dig-effect;
}

.about__content__text {
  @apply text-2xl mb-4 font-text font-light text-black leading-normal text-dig-effect;
  columns: 2;
  column-gap: 4rem;
}

.about__content__prices {
  @apply flex flex-row items-center justify-between my-16 mb-24;
}

.about__content__prices__item {
  @apply flex flex-col items-center justify-between px-6 pt-12 pb-4;
  width: 31%;
  border-radius: 8px;
}

.about__content__prices__item__image {
  @apply mb-8;
  width: 50%;
}

.about__content__prices__item__title {
  @apply font-serif font-bold text-2xl text-center;
}

.about__content__prices__item__place {
  @apply font-serif font-normal text-xl mb-4 text-center;
}

.about__content__prices__item__date {
  @apply font-sans font-normal text-sm uppercase opacity-50 text-center;
}

.about__content__clients {
  @apply flex flex-row flex-wrap w-full justify-between mb-16;
}

.about__content__social__clients__image {
  @apply object-contain pb-12;
  width: 30%;
}
