.contact {
  .hero__content__sub-title {
    @apply hero-text;
    display: flex;
    align-items: center;
    margin-top: -10px;
  }
  .button {
    text-transform: none;
    @apply ml-4;
  }
  .hero__content__text {
  }
  .hero__content__title__word {
    margin-bottom: -30px;
  }
  .underline {
    padding: 4px 4px;
  }
}

.click-to-copy-container {
  @apply relative inline;
  line-height: 0.8;
}

.click-to-copy-container__info-message {
  @apply absolute small-text left-4 opacity-0 -bottom-8 font-semibold;
  transition: all 100ms ease;
  &.show {
    @apply opacity-100 -bottom-7;
    transition: all 200ms ease;
    opacity: 1;
  }
}
