.landing {
  @apply w-full flex items-center pt-16 overflow-hidden relative;
  --background-color: #{$green};
  background-color: var(--background-color);
  transition: background-color 200ms ease;
  height: calc(100%);
  padding-left: 15%;
  h1 {
    @apply relative italic select-none font-serif text-9xl font-black text-left text-black;
    font-size:9rem;
    pointer-events: none;
    margin: 0;
    margin-left: 40px;
    z-index: 1;
    line-height:0.6;
    .white {
      color: white;
    }
  }

  .landing__container {
    @apply relative;
    pointer-events: none;
  }

  .landing__container__losange {
    @apply absolute top-0 left-0 bg-cover select-none;
    pointer-events: none;
    z-index: 0;
    width:879px * 1.1;
    height:533px * 1.4;
    left:-60px; 
    top:-120px;
  }

  .word {
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 10px 10px 50px 0;
    pointer-events: none;

  }

  .word__content,
  .word__content--first {
    display: inline-block;
  }

  #canvas {
    @apply absolute right-0 bottom-0 z-0;
    width: 100%;
    height: 100%;
    top: 0%;
    right: -20%;
  }

  button {
    position: relative;
    z-index: 3;
  }

  .wanna-see-my-work {
    margin-top: 50px;
    margin-left: 40px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 40px;
    pointer-events:all;
    .wanna-see-my-work__text {
      @apply text-xl;
    }
    img {
      @apply inline-block;
      margin-left: 20px;
      transform: translateY(-2px);
      transition: all 200ms ease;
    }
    &:hover img {
      margin-left: 40px;
      // transform: translateX(20px);
    }
  }

  .restart-demo {
    position: absolute;
    top: 0;
    left: 0;
  }
}
