.projects {
  .word {
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 0px 4px 13px 5px;
    pointer-events: none;
  }

  .word__content {
    display: inline-block;
  }

  .invite-to-scroll {
    height: 6vh;
    &:before {
      height: 6vh;
    }
  }

  svg {
    // fill: rgba(0, 0, 0, 0.05);
    // fill: rgba(0, 0, 0, 0);
    opacity: 0.7;
  }
}

.projects__header,
.projects__footer {
  @apply screen-size relative;
}

.projects__header {
  padding: 0;
  height: calc(100vh - #{$nav-height + $border-size});
  min-height: calc(100vh - #{$nav-height + $border-size});
}

.projects__footer {
  margin-top: -$nav-height + 30;
}

.projects__header__title {
  @apply hero-title relative;
  text-align: center;
  z-index: 1;
}

.projects__header__illustration {
  @apply screen-size;
  @apply absolute;
  padding: 0;
  height: calc(100vh - #{$nav-height + $border-size});
  min-height: calc(100vh - #{$nav-height + $border-size});
  top: 12px;
  left: 0;
  z-index: 0;
  pointer-events: none;
  svg {
    width: 90%;
    margin: 0 auto;
    path {
      stroke-dashoffset: 800;
      stroke-dasharray: 800;
    }
  }
}

.projects__footer {
  position: relative;
  text-align: center;
  .button {
    @apply mt-4 inline-block;
  }
}

.projects__footer__title {
  @apply hero-title block relative;
  text-align: center;
  z-index: 1;
}

// PROJECT

.projects__project {
  @apply screen-size;
  height: 100%;
  // border-top: 1px solid rgba(0, 0, 0, 0.1);
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.projects__project__content {
  @apply relative flex items-center flex-row;
  max-width: 80%;
  margin: 0 10%;
}

.projects__project__content__image {
  @apply flex items-center justify-center relative;
  width: 45%;
  padding: 5%;
}

.projects__project__content__image__img {
  @apply relative;
  height: auto;
  z-index: 1;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  &:after {
    @apply absolute top-0 left-0 w-full h-full opacity-0 flex items-center justify-center text-white text-3xl font-black uppercase tracking-wider;
    transition: all 200ms ease;
    background-color: rgba(0, 0, 0, 0.3);
    content: "read more";
    z-index: 1;
  }
}

.projects__project__content:hover
  .projects__project__content__image__img:after {
  opacity: 1;
}

.projects__project__content__image__img__bg {
  @apply absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  background-size: cover;
}

.projects__project__content__image__square {
  @apply absolute;
  width: calc(100% - 20%);
  height: calc(100% - 20%);
  top: 3.5%;
  left: 3.5%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: -1;
}

.projects__project__index {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
  color: transparent;
  font-family: Inter-ExtraBold;
  font-size: 74px;
  position: absolute;
  top: 20px;
  left: 40px;
}

.projects__project__content__info {
  width: 42%;
  margin-right: 5%;
  margin-left: 5%;
}

.projects__project__content__info__title {
  @apply hero-subtitle inline;
  line-height: 1;
  width: 90%;
}

.projects__project__content__info__tag {
  @apply label font-bold uppercase tracking-widest mt-4 mb-8 pl-8 block relative;
  font-size: 20px;
  &:before {
    @apply absolute block w-4 bg-black left-0;
    top: 10px;
    content: "";
    height: 1px;
  }
}

.projects__project__content__info__desc {
  @apply lead-text;
  max-width: 75%;
  font-size: 20px;
  line-height: 28px;
}
