.project {
  @apply w-full min-h-full;
}

.project__hero {
  @apply w-full border-b flex items-center justify-center relative z-30 relative;
  border-color: rgba(0, 0, 0, 0.15);
  min-height: 100vh;
}

.project__hero__content {
  @apply z-40 relative flex flex-row items-center justify-center;
  width: 70%;
}

.project__hero__content__shape {
  @apply absolute top-0 left-0 bg-cover opacity-75;
  z-index: -1;
  width:800px;
  height:780px;
  left:-100px;
  top:-150px;
}

.project__hero__content__text {
  width:60%;
  margin-right:10%;
}

.project__hero__content__image {
  width:30%;
}

.project__hero__content__text__sub-title {
  @apply text-base font-sans uppercase tracking-widest;
}

.project__hero__content__text__title {
  @apply text-8xl font-serif;
  font-weight: 700;
}

.project__hero__content__text__tags {
  @apply flex flex-row items-center mt-8;
}

.project__hero__content__summary {
}

.tag {
  @apply text-sm uppercase tracking-wider font-sans px-4 py-1 mx-2 whitespace-nowrap;
  word-wrap: none;
  background-color:var(--background-color);
}

.project__container--overlap {
}

.project__container {
  @apply py-16 z-50 mt-8 relative;
  background-color: var(--background-color);
  transition: background-color var(--background-transition-duration) ease;
  &--align-center {
    @apply text-center;
  }
  img {
    @apply py-8;
    @apply px-4 py-4 bg-white;
  }
  .html-video {
    @apply shadow;
    @apply px-4 py-4 bg-white;
  }
  .center {
    @apply mb-8 m-auto;
    width: 30%;
  }
  .float-left {
    @apply mr-8;
    width: 30%;
    margin-left: -50px;
  }
  .float-right {
    @apply ml-8;
    width: 30%;
    margin-right: -50px;
  }
  strong {
    @apply font-bold;
  }
  h2 {
    @apply text-7xl italic font-serif mt-24 mb-16;
    font-weight: 600;
  }
  h3 {
    @apply text-6xl italic font-serif mt-24 mb-16;
    font-weight: 600;
  }
  .leading {
    @apply inline-block text-black font-text2 text-4xl mb-8 leading-normal;
    // &:first-letter {
    //   float: left;
    //   font-size: 6rem;
    //   line-height: 0.65;
    //   margin: 0.1em 0.1em 0.2em 0;
    // }
  }
  p {
    @apply text-2xl mb-4 font-text font-light text-black leading-normal;
  }
}

.project__container__shadow {

}

.project__container__gradient {

}

.project__screen {
  @apply w-full flex items-center justify-center;
}

.project__screen__content {
  @apply flex items-center justify-center;
  width: 80%;
}

.project__screen__content__image {
  @apply ml-16;
  width: 50%;
  perspective: 1000px;
}

.project__screen__content__text-container {
  width: 40%;
  h3 {
    @apply text-6xl font-serif mt-8 mb-4;
  }
  p {
    @apply text-2xl mb-4 font-sans font-light text-black leading-normal;
  }
}



// .project {
//   @apply w-full min-h-full;
// }

// .project__hero {
//   @apply w-full border-b flex items-end justify-center relative z-30 relative pb-24;
//   border-color: rgba(0, 0, 0, 0.15);
//   min-height: 80vh;
//   &:before {
//     content: "";
//     @apply z-20 w-full h-36 absolute transform top-0 left-0;
//     background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
//   }
//   &:after {
//     content: "";
//     @apply z-20 w-full h-96 absolute transform bottom-0 left-0;
//     background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
//   }
// }

// .project__hero__parallax-holder {
//   @apply absolute left-0 top-0 w-full h-full z-10 overflow-hidden;
// }

// .project__hero__parallax-holder__image {
//   @apply absolute object-cover w-full h-full z-10;
// }

// .project__hero__content {
//   @apply z-40 relative container;
// }

// // .project__hero__content__date {
// //   @apply font-serif text-white absolute top-0 left-0;
// //   opacity: 0.2;
// //   font-size: 20rem;
// //   line-height: 20rem;
// //   font-weight: 600;
// //   transform: translateY(-70px) translateX(80px);
// // }

// .project__hero__content__sub-title {
//   @apply flex flex-row items-center;
//   width:30%;
//   margin-left:35%;
//   &:before,
//   &:after {
//     content: "";
//     width: 100%;
//     height: 1px;
//     border-top: 1px solid rgba(255, 255, 255, 0.3);
//   }
// }

// .project__hero__content__sub-title__text {
//   @apply text-base font-sans uppercase text-white tracking-widest px-8;
// }

// .project__hero__content__title {
//   @apply text-8xl font-serif text-white text-center;
//   font-weight: 600;
// }

// .project__hero__content__tags {
//   @apply flex flex-row items-center mt-8;
//   &:before,
//   &:after {
//     content: "";
//     width: 100%;
//     height: 1px;
//     border-top: 1px solid rgba(255, 255, 255, 0.3);
//   }
// }

// .project__hero__content__summary {
//   @apply text-white;
// }

// .tag {
//   @apply text-white text-sm uppercase tracking-wider font-sans px-4 py-1 mx-2 whitespace-nowrap;
//   word-wrap: none;
//   background-color:var(--darken-background-color);
//   border-color: rgba(255, 255, 255, 0.3);
// }

// .project__container--overlap {
//   transform: translateY(-70px);
// }

// .project__container {
//   @apply py-16 z-50 mt-8 relative;
//   background-color: var(--background-color);
//   transition: background-color var(--background-transition-duration) ease;
//   &--align-center {
//     @apply text-center;
//   }
//   img {
//     @apply py-8;
//     @apply px-4 py-4 bg-white;
//   }
//   .html-video {
//     @apply shadow;
//     @apply px-4 py-4 bg-white;
//   }
//   .center {
//     @apply mb-8 m-auto;
//     width: 30%;
//   }
//   .float-left {
//     @apply mr-8;
//     width: 30%;
//     margin-left: -50px;
//   }
//   .float-right {
//     @apply ml-8;
//     width: 30%;
//     margin-right: -50px;
//   }
//   strong {
//     @apply font-bold;
//   }
//   h2 {
//     @apply text-7xl italic font-serif mt-24 mb-16;
//     font-weight: 600;
//   }
//   h3 {
//     @apply text-6xl italic font-serif mt-24 mb-16;
//     font-weight: 600;
//   }
//   .leading {
//     @apply inline-block text-black font-text2 text-4xl mb-8 leading-normal;
//     // &:first-letter {
//     //   float: left;
//     //   font-size: 6rem;
//     //   line-height: 0.65;
//     //   margin: 0.1em 0.1em 0.2em 0;
//     // }
//   }
//   p {
//     @apply text-2xl mb-4 font-text font-light text-black leading-normal;
//   }
// }

// .project__container__shadow {
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 142px;
//   top: 0;
//   left: 0;
//   z-index: -5;
//   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
//   border-top: 3px solid rgba(255,255,255,0.7);
// }

// .project__container__gradient {
//   display: block;
//   position: absolute;
//   width: 120%;
//   height: 150px;
//   background-color: var(--background-color);
//   background: linear-gradient(
//     rgba(255, 255, 255, 0),
//     var(--background-color) 30%
//   );
//   transition: background-color var(--background-transition-duration) var(--background-transition-ease); 
//   top: 90px;
//   left: -10%;
//   z-index: -4;
//   opacity: 1;
// }

// .project__screen {
//   @apply w-full flex items-center justify-center;
// }

// .project__screen__content {
//   @apply flex items-center justify-center;
//   width: 80%;
// }

// .project__screen__content__image {
//   @apply ml-16;
//   width: 50%;
//   perspective: 1000px;
// }

// .project__screen__content__text-container {
//   width: 40%;
//   h3 {
//     @apply text-6xl font-serif mt-8 mb-4;
//   }
//   p {
//     @apply text-2xl mb-4 font-sans font-light text-black leading-normal;
//   }
// }
