.visual {
  @apply pb-32;


  .word {
    padding: 0px 4px 13px 0px;
  }

}

.visual__hero {
  @apply flex items-center justify-center;
  min-height: 80vh;
  width: 120%;
  margin-left: -10%;
}

.visual__hero__text {
  @apply pr-24;
  max-width: 50%;
}

.visual__hero__text__title {
  @apply text-6xl font-serif mb-2;
}

.visual__hero__text__label {
  @apply text-base font-sans tracking-widest uppercase ;
} 

.visual__hero__text__p {
  @apply text-xl text-dig-effect;
}

.visual__hero__image {
  @apply relative;
  width: 100%;
  .visual__hero__image__canvas {
    @apply px-4 py-4;
    @apply bg-white shadow relative;
    @apply w-full h-full shadow absolute transform top-0 bg-white;
    z-index: 3;
  }
  &:before {
    content: "";
    z-index: 1;
    @apply w-full h-full shadow absolute transform top-0 bg-white;
    left: -5px;
    transform: rotate(1deg);
  }
  &:after {
    content: "";
    @apply w-full h-full shadow-xl absolute transform top-0 bg-white;
    left: -5px;
    transform: rotate(-1deg);
    z-index: 2;
  }
  .visual__hero__image__img {
    @apply px-4 py-4;
    z-index: 4;
  }
  img {
    z-index: 4;
  }
}

.grid__item {
  @apply px-4 py-4;
  @apply bg-white shadow;
}
