.clients {
  @apply vr-mt-0 vr-mb-8;
  // @apply overflow-hidden h-screen;
}

.clients__container {
  @apply container mx-auto;
}

.clients__container__swipers {
}

.clients__container__swipers__item {
}

.clients__container__swipers__item__tag {
  width: $base-size * 22;
  height: $base-size * 22;
  padding: $base-size;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--subtle-gray-color);
}

.clients__container__swipers__item__tag img {
  width: 100%;
}

.swiper {
  width: 100%;
  overflow: visible;
  cursor: grab;
}

.slide {
  width: auto;
  padding-right: 12px;
}

.slide img {
  display: block;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  will-change: transform;
}

// .marquee {
//   width: 100%;
//   box-sizing: border-box;
//   padding: 1em;
//   color: #fff;
//   font-weight: 200;
//   display: flex;
//   align-items: center;
//   overflow: hidden;
// }

// .marquee__content {
//   display: flex;
//   animation: marquee 40s linear infinite running;
// }

// .marquee--2 .marquee__content {
//   animation: marquee-reverse 50s linear infinite running;
// }
// .marquee--3 .marquee__content {
//   animation: marquee 60s linear infinite running;
// }
// .marquee__content__tag {
//   width: $base-size * 22;
//   height: $base-size * 22;
//   @include up-to-md {
//     width: $base-size * 22;
//     height: $base-size * 22;
//   }
//   margin: 0 0.5em;
//   padding: 0.5em;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   background: #f5f5f5;
// }
// .marquee__content__tag img {
//   // opacity: 0.8;
//   width: 100%;
// }
// // .marquee__content__tag img:hover {
// //   opacity: 1;
// // }
// @-moz-keyframes marquee {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translate(-50%);
//   }
// }
// @-webkit-keyframes marquee {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translate(-50%);
//   }
// }
// @-o-keyframes marquee {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translate(-50%);
//   }
// }
// @keyframes marquee {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translate(-50%);
//   }
// }
// @-moz-keyframes marquee-reverse {
//   0% {
//     transform: translate(-50%);
//   }
//   100% {
//     transform: translate(0%);
//   }
// }
// @-webkit-keyframes marquee-reverse {
//   0% {
//     transform: translate(-50%);
//   }
//   100% {
//     transform: translate(0%);
//   }
// }
// @-o-keyframes marquee-reverse {
//   0% {
//     transform: translate(-50%);
//   }
//   100% {
//     transform: translate(0%);
//   }
// }
// @keyframes marquee-reverse {
//   0% {
//     transform: translate(-50%);
//   }
//   100% {
//     transform: translate(0%);
//   }
// }
