.clients {
}

.clients__marquee {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  user-select: none;
}

.clients__marquee__content {
  display: flex;
  animation: clients__marquee 30s linear infinite running;
}

.clients__marquee--2 .clients__marquee__content {
  animation: clients__marquee-reverse 40s linear infinite running;
}
.clients__marquee--3 .clients__marquee__content {
  animation: clients__marquee 20s linear infinite running;
}
.clients__marquee__content__tag {
  width: $base-size * 10;
  height: $base-size * 10;
  padding: $base-size;
  margin: #{$base-size / 2};
  @include up-to-md {
    width: $base-size * 22;
    height: $base-size * 22;
    margin: $base-size;
  }
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // background: #f5f5f5;
  border: 1px solid var(--gray-color);
  user-select: none;
  svg path,
  svg polygon,
  svg ellipse,
  svg rect {
    fill: var(--text-color);
  }
}
.clients__marquee__content__tag img {
  width: 100%;
  user-select: none;
}

@keyframes clients__marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}

@keyframes clients__marquee-reverse {
  0% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(0%);
  }
}
