.description {
  @apply relative ml-0 vr-mb-1;
}

.description__item {
  @apply transition-colors text-base font-normal entity inline-block;
  @apply relative vr-pb-1;
  hyphenate-limit-chars: 10 3 4;
  -webkit-hyphenate-limit-chars: 10 3 4;
  hyphens: auto;
  -webkit-hyphens: auto;
  color: var(--text-color);
  @include up-to-md {
    @apply text-lead;
    hyphens: none;
    -webkit-hyphens: none;
  }
  @include up-to-xl {
    @apply text-hero;
    @apply vr-pb-4;
  }
}

.description__title {
  @apply description__item;
  @apply heading-5 entity vr-mb-1;
  @include up-to-md {
    @apply heading-1 entity vr-mb-2;
  }
}

.description__list {
  @apply vr-mb-1 m-0 p-0 flex flex-col;
  @include up-to-md {
    @apply vr-mb-4;
  }
}

.description__text {
  @apply text-base;
  color: var(--text-color);
}

.description__label {
  @apply text-label uppercase vr-pb-0 inline-block;
  color: var(--text-color);
}

.description__list__item {
  @apply heading-5 vr-pt-0 vr-pb-1 block entity;
  @apply font-light;
  z-index: $cursor-z-index + 1;
  position: relative;

  &:last-child {
    @apply vr-pb-0;
  }
  @include up-to-md {
    @apply heading-2 vr-pt-1 vr-pb-1;
    @apply font-medium;
    &:last-child {
      @apply vr-pb-1;
    }
  }

  color: var(--text-color);

  @include up-to-md {
    -webkit-text-stroke: 1px var(--text-color);
    color: transparent;

    &:hover {
      mix-blend-mode: difference;
      color: var(--background-color);
      // color: var(--background-color);
      // -webkit-text-stroke: 1px var(--background-color);
      // color: transparent;
    }
  }
}

.description__item__link,
.description__text__link {
  @apply underline font-bold inline;
}

.description__separator {
  @apply vr-mt-2 vr-mb-2;
  border-bottom: 1px solid var(--gray-color);
  @include up-to-xl {
    @apply vr-mt-4 vr-mb-4;
  }
}

.description__item + .description__separator {
  @apply vr-mt-0;
}

.description__separator + .description__item {
  @apply vr-mb-0;
}
