.description {
  @apply relative ml-9 md:ml-0 vr-mb-1;
}

.description__active-circle {
  @apply absolute w-8 h-8 top-6 -left-16;
  will-change: transform;
  // filter: url("#gooey");
  // &:after {
  //   content: "";
  //   @apply absolute w-8 h-8 top-2 left-2;
  //   background-color: #000;
  // }
}

.description__active-circle__element {
  @apply absolute w-8 h-8 top-0 left-0;
  will-change: transform;
  background-color: var(--text-color);
  border-radius: 100%;
}

.description__item {
  @apply relative vr-pb-2;
}

.description__item span {
  @apply transition-colors text-lead font-semibold entity;
  color: var(--text-color);
  @include up-to-xl {
    @apply text-hero;
  }
}

.description__item--title span {
  @apply heading-3 entity;
  @include up-to-md {
    @apply heading-1 entity;
  }
}

.description__item__list {
  @apply m-0 p-0 flex flex-row flex-wrap;
}

.description__item__list__item {
  color: var(--text-color);
}
