.landing {
  min-height: 75vh;

  @include up-to-md {
    min-height: calc(100vh - #{$base-size * 2});
  }

  .invite-to-scroll-with-text {
    @apply hidden;
    @include up-to-xl {
      @apply block;
    }
  }
}

.landing__content {
  z-index: $landing-content-z-index;
  pointer-events: none;
  @apply relative;
}

.landing__content__title {
  @apply heading-4 entity select-none;
  @include up-to-md {
    @apply heading-2;
  }

  @include up-to-xl {
    @apply heading-1;
  }
}
