.nav {
  @apply absolute top-0 left-0 w-full;
  z-index: $nav-z-index;
  user-select: none;
  @apply hidden;
  @include up-to-lg {
    @apply flex;
  }
}

.nav__content {
  @apply flex flex-row align-top items-center w-full relative;
  padding: $base-size * 2 $base-size * 2;
  @apply entity;
}

.nav__content__name {
  @apply block lowercase font-medium;
  font-size: $base-size * 1.5;
  line-height: $base-size * 1.5;
  color: var(--text-color);
}

$anim-curve: cubic-bezier(0.23, 1, 0.32, 1);
$anim-timing: 0.3s;

.fixed-nav {
  @apply fixed top-1/2 transform -rotate-90 flex-row-reverse;
  left: -72px;
  z-index: 1;
  opacity: 1;
  will-change: opacity;

  @apply hidden;
  @include up-to-lg {
    @apply flex;
  }
}

.fixed-nav--hide {
  opacity: 0;
}

.fixed-nav__item {
  transform: translateY(-150px);
  transition: all 200ms ease;
  z-index: 1;
  will-change: transform;
  &:nth-child(1) {
    transition-delay: 0.1s;
  }
  &:nth-child(2) {
    transition-delay: 0.15s;
  }
  &:nth-child(3) {
    transition-delay: 0.2s;
  }
}

.fixed-nav--active .fixed-nav__item {
  transform: translateY(0px);
}

.fixed-nav__item__link {
  display: inline-block;
  padding: 0 $base-size;
}

.fixed-nav__item__link__text {
  display: block;
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0;
  font-size: $base-size * 1.5;
  line-height: 1;
  white-space: nowrap;
  color: var(--text-color);
  &:after {
    content: "";
    background: var(--text-color);
    width: 100%;
    height: 1px;
    display: block;
    margin-top: 0.125rem;
    position: absolute;
    top: 100%;
    transform: scaleX(0) rotate(0.001deg);
    transform-origin: left center;
    transition: transform $anim-timing $anim-curve,
      transform-origin 0s $anim-timing;
    z-index: 1;
  }
}

// .fixed-nav__item--active
//   .fixed-nav__item__link
//   .fixed-nav__item__link__text:after {
//   max-width: 100%;
//   transform: rotate(0.001deg);
//   transition: max-width $anim-timing $anim-curve;
// }

.fixed-nav__item--active .fixed-nav__item__link__text {
  color: var(--yellow);
  &:after {
    background: var(--yellow);
  }
}

.fixed-nav__item:hover .fixed-nav__item__link__text:after,
.fixed-nav__item--active .fixed-nav__item__link__text:after {
  max-width: 100%;
  transform: scaleX(1) rotate(0.001deg);
  transform-origin: right center;
}
