.projects {
  @apply vr-mb-0;
  @include up-to-md {
    @apply vr-mb-2;
  }
}

.projects__container {
  @apply mx-auto px-6;
  width: 100%;
  @include up-to-md {
    @apply mx-0 px-0;
    width: 80%;
  }
}

.projects__text {
  @apply text-base entity w-full vr-mt-1;
  @include up-to-md {
    @apply w-6/12;
  }
}

.projects__grid {
  @apply w-full;
}

.projects__grid__text {
  @apply w-full;
}

.projects__grid__column {
  @apply w-6/12;
}

.projects__grid__item {
  width: 100%;
  margin: 0;
  margin-bottom: $base-size * 2;
  @include up-to-md {
    margin: 0 #{$base-size * 1};
    margin-bottom: $base-size * 2;
    width: calc(50% - #{$base-size * 2});
  }
}

.projects__grid__item--full {
  width: 100%;
  margin: 0;
  margin-bottom: $base-size * 2;
  @include up-to-md {
    margin: 0 #{$base-size * 1};
    margin-bottom: $base-size * 2;
    width: calc(100% - #{$base-size * 2});
  }
}

.projects__grid__item__label {
  // padding-top: #{$base-size * 1};
  // font-size: $base-size * 1;
  @apply block text-small;
  margin-top: $base-size / 2;
  margin-bottom: 0;
  // vr-mb-1
  // @include up-to-md {
  //   @apply text-base;
  // }
}

.projects__grid__item__label_list-symbol {
  transform: translateY(2px);
}

.projects__grid__item__label__text {
  @apply underline;
  text-underline-offset: 1px;
  // @apply relative;
  // &:before {
  //   content:' ';
  //   display: inline-block;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   height: 20px;
  //   bottom: 0px;
  //   cursor: text;
  // }
}


.projects__grid__item__label__index {
  color: var(--gray-color);
}
