.projects {
  @apply vr-mb-2;
}

.projects__container {
  @apply mx-auto px-6;
  width: 100%;
  @include up-to-md {
    @apply mx-0;
    width: 80%;
  }
}

.projects__text {
  @apply text-base entity w-full vr-mt-1;
  @include up-to-md {
    @apply w-6/12;
  }
}

.projects__grid {
  @apply w-full;
}

.projects__grid__text {
  @apply w-full;
}

.projects__grid__column {
  @apply w-6/12;
}

.projects__grid__item {
  // @apply w-6/12;
  // @apply relative;
  width: 100%;
  margin: 0;
  @include up-to-md {
    width: calc(50% - #{$base-size * 3});
    margin: 0 #{$base-size * 1.5};
  }
}

.projects__grid__item--full {
  width: 100%;
  margin: 0;
  @include up-to-md {
    margin: 0 #{$base-size * 1.5};
    width: calc(50% - #{$base-size * 3});
  }
}

.projects__grid__item__label {
  padding-top: #{$base-size * 1.5};
  @apply block vr-mb-1 text-base text-right;
  // @apply underline;
}
