.socials {
  @apply flex self-end flex-row vr-mt-1 vr-mb-4;
  margin-left: auto;
}

.socials__item__link {
  color: var(--text-color);
  @apply entity;
  padding:$base-size $base-size * 2;
  margin-right: 12px;
  border:1px solid var(--yellow);
  border-radius: 100px;
}

.socials__item__intro {
  @apply vr-mr-1;
}