.fade-in-top {
  @apply opacity-0 transform -translate-y-4;
  transition: all 400ms $easeOutQuart;
  will-change: transform, opacity;

  &.is-in-viewport {
    @apply opacity-100 transform translate-y-0;
  }
  &--delay-1 {
    @apply delay-100;
  }
  &--delay-2 {
    @apply delay-300;
  }
  &--delay-3 {
    @apply delay-500;
  }
}

.fade-in {
  @apply opacity-0;
  transition: all 400ms $easeOutQuart;
  will-change: transform, opacity;

  &.is-in-viewport {
    @apply opacity-100;
  }
  &--delay-1 {
    @apply delay-100;
  }
  &--delay-2 {
    @apply delay-300;
  }
  &--delay-3 {
    @apply delay-500;
  }
}

.delay-1 {
  @apply delay-100;
}
.delay-2 {
  @apply delay-300;
}
.delay-3 {
  @apply delay-500;
}

.growing {
  transform: scaleX(0);
  transition: transform duration("screen") ease("in-expo");
  &.is-in-viewport {
    transform: scaleX(1);
  }
  &--delay-1 {
    @apply delay-100;
  }
  &--delay-2 {
    @apply delay-300;
  }
  &--delay-3 {
    @apply delay-500;
  }
}

.growing--left {
  transform-origin: left;
}

.growing--right {
  transform-origin: right;
}
