.reverse {
  mix-blend-mode: difference;
}

$size: 24px;
$cursor-z-index: 0;

[data-cursor="-media"] {
  z-index: $cursor-z-index + 1;
  position: relative;
  mix-blend-mode: difference;
  color: var(--background-color);
}

.cursor {
  $root: &;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $cursor-z-index;

  contain: layout style size;
  pointer-events: none;
  will-change: transform;

  transition: opacity 0.3s, color 0.4s;
  mix-blend-mode: difference;

  // filter: url(#goo);

  &:before {
    content: "";
    position: absolute;
    top: -$size;
    left: -$size;
    display: block;
    width: $size * 2;
    height: $size * 2;
    transform: scale(0);

    background: white;
    // background: var(--text-color);

    border-radius: 50%;

    transition: transform 0.3s ease-in-out, opacity 0.1s, background-color 0.1s;
  }

  &-text {
    position: absolute;
    top: -36px;
    left: -36px;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0) rotate(10deg);
    font-weight: 900;

    opacity: 0;
    color: white;

    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.01em;

    transition: opacity 0.4s, transform 0.3s;
  }

  &-media {
    display: block;
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 100%;
    transform: scale(0);
    margin: -175px 0 0 -175px;
    position: relative;
    transition-duration: 0.2s;
    border: 1px solid var(--gray-color);
  }

  &.-media {
    mix-blend-mode: normal;
  }

  &.-media .cursor-media {
    transform: scale(1);
  }

  &.-media video {
    height: 350px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  &.-big-font .cursor-text {
    font-size: 24px;
  }

  &.-exclusion {
    @supports (mix-blend-mode: exclusion) {
      mix-blend-mode: exclusion;
    }

    &:before {
      @supports (mix-blend-mode: exclusion) {
        background: white;
      }
    }
  }

  &.-normal {
    mix-blend-mode: normal;

    &:before {
      background: currentColor;
    }
  }

  &.-inverse {
    color: white;
  }

  &.-visible {
    &:before {
      transform: scale(0.2);
    }

    &.-active:before {
      transform: scale(0.3);
      transition-duration: 0.2s;
    }
  }

  &.-pointer {
    &:before {
      transform: scale(0.4);
    }
  }

  &.-opaque {
    @extend .-exclusion;

    &:before {
      transform: scale(1.32);
    }

    &.-active:before {
      transform: scale(1.2);
    }
  }

  &.-lg {
    mix-blend-mode: difference;
    &:before {
      transform: scale(0.8);
    }
    &.-active:before {
      transform: scale(1);
    }
  }

  &.-hidden {
    &:before {
      transform: scale(0) !important;
    }
  }

  &.-text {
    @extend .-normal;
    mix-blend-mode: normal;

    &:before {
      opacity: 1;
      transform: scale(1.7);
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    #{$root} {
      &-text {
        opacity: 1;
        transform: scale(1);
      }
    }

    &.-active:before {
      transform: scale(1.6);
      transition-duration: 0.2s;
    }
  }
}
