.reverse {
  mix-blend-mode: difference;
}

$size: 24px;

.cursor-hold-circle {
  @apply absolute top-0 left-0;
  background: red;
  width: 100%;
  height: 100%;
}

.cursor {
  $root: &;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $cursor-z-index;
  display: none;

  contain: layout style size;
  pointer-events: none;
  will-change: transform;

  transition: opacity 0.3s, color 0.4s;

  @include up-to-md {
    @apply block;
  }

  .cursor-circle {
    content: "";
    position: absolute;
    top: -$size;
    left: -$size;
    display: block;
    width: $size * 2;
    height: $size * 2;
    transform: scale(0);

    background: var(--text-color);

    border-radius: 50%;
    overflow: hidden;

    transition: transform 0.3s ease-in-out, opacity 0.1s, background-color 0.1s;
    &:before {
      content: "";
      position: absolute;
      top: -20%;
      left: 0%;
      display: block;
      width: 100%;
      height: 120%;
      background: rgba(255, 255, 255, 0.2);
      transform: translateY(100%);
      transition: all 500ms ease;
      z-index: 0;
    }
    &.-holding:before {
      transform: translateY(0%);
      transition: all 1500ms ease;
    }
  }

  &-text {
    position: absolute;
    top: -#{$base-size * 7};
    left: -#{$base-size * 7};
    width: #{$base-size * 14};
    height: #{$base-size * 14};
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    font-weight: 500;
    z-index: 1;

    opacity: 0;
    color: white;
    text-align: center;

    transition: opacity 0.4s, transform 0.1s;
    .cursor-text__title {
      transform: translateY(10px);
      font-weight: 700;
      font-size: $base-size * 2;
      letter-spacing: -0.01em;
      margin-bottom: $base-size;
    }
    .cursor-text__instruction {
      transform: translateY(10px);
      font-size: $base-size * 1.2;
      text-transform: uppercase;
      letter-spacing: -0.01em;
    }
  }

  &-media {
    display: block;
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 100%;
    transform: scale(0);
    margin: -175px 0 0 -175px;
    position: relative;
    transition-duration: 0.2s;
    border: 1px solid var(--gray-color);
    z-index: $cursor-z-index;
  }

  &.-media {
    mix-blend-mode: normal;
  }

  &.-media .cursor-media {
    transform: scale(1);
  }

  &.-media__video {
    height: 350px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  &.-exclusion {
    @supports (mix-blend-mode: exclusion) {
      mix-blend-mode: exclusion;
    }

    .cursor-circle {
      @supports (mix-blend-mode: exclusion) {
        background: white;
      }
    }
  }

  &.-normal {
    mix-blend-mode: normal;

    .cursor-circle {
      background: currentColor;
    }
  }

  &.-inverse {
    color: white;
  }

  &.-visible {
    .cursor-circle {
      transform: scale(0.2);
    }

    &.-active .cursor-circle {
      transform: scale(0.1);
      transition-duration: 0.5s;
    }
  }

  &.-pointer {
    .cursor-circle {
      transform: scale(0.4);
    }
  }

  &.-opaque {
    @extend .-exclusion;

    .cursor-circle {
      transform: scale(1.32);
    }

    &.-active .cursor-circle {
      transform: scale(1.2);
    }
  }

  &.-lg {
    mix-blend-mode: difference;
    .cursor-circle {
      transform: scale(0.8);
      background-color: var(--background-color);
    }
    &.-active .cursor-circle {
      transform: scale(0.6);
    }
  }

  &.-hidden {
    .cursor-circle {
      transform: scale(0) !important;
    }
  }

  &.-text {
    @extend .-normal;
    mix-blend-mode: normal;

    .cursor-circle {
      opacity: 1;
      transform: scale(5);
      // border: 1px solid rgba(0, 0, 0, 0.1);
    }

    #{$root} {
      &-text {
        opacity: 1;
        transform: scale(1);
      }
    }

    &.-active .cursor-circle {
      transform: scale(5.2);
      transition-duration: 0.2s;
    }
  }
}

[data-cursor-link] {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

a[target="_blank"]::after {
  @apply inline-block;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
  @include up-to-md {
    @apply hidden;
  }
}
