.landing {
  @apply w-full flex items-center pt-16 overflow-hidden relative bg-green;
  transition: background-color 200ms ease;
  height: calc(100%);
  padding-left: 15%;
  h1 {
    @apply font-black select-none;
    font-family: "Playfair Display";
    pointer-events: none;
    font-weight: black;
    font-size: 5.5rem;
    line-height: 1;
    text-align: left;
    margin: 0;
    margin-left: 40px;
    color: black;
    position: relative;
    z-index: 1;
    .white {
      color: white;
    }
  }

  .word {
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 15px 0;
  }

  .word__content,
  .word__content--first {
    display: inline-block;
  }

  #canvas {
    @apply absolute right-0 bottom-0 z-0;
    width: 90%;
    height: 125%;
    bottom: -35%;
    right: -10%;
  }

  button {
    position: relative;
    z-index: 3;
  }

  .wanna-see-my-work {
    margin-top: 20px;
    margin-left: 40px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    height: 40px;
    span {
      font-family: "Varela Round";
    }
    img {
      @apply inline-block;
      margin-left: 20px;
      // transform: translateX(0px);
      transition: all 200ms ease;
    }
    &:hover img {
      margin-left: 40px;
      // transform: translateX(20px);
    }
  }

  .restart-demo {
    position: absolute;
    top: 0;
    left: 0;
  }
}
