.marquee {
  @apply relative w-full overflow-hidden;
  height: $base-size * 18;
  z-index: 99999;
}

.marquee__content {
  @apply absolute;
  // -webkit-font-smoothing: antialiased;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
}

.marquee__content__part {
  flex-shrink: 0;
  // font-smooth: always;
  font-size: $base-size * 18;
  line-height: $base-size * 18;
  white-space: nowrap;
  color: white;
  will-change: transform;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2), 1px -1px 0 rgba(0, 0, 0, 0.2),
    -1px 1px 0 rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, 0.2);
}
