$color: var(--nav-color);
$background-color: #95d0a9;
$anim-curve: cubic-bezier(0.23, 1, 0.32, 1);
$anim-timing: 0.3s;

.nav {
  @apply fixed right-0 z-100 w-full;
  @apply absolute;

  &__list {
    @apply flex items-center pt-4 px-4;
  }

  &--white {
    --nav-color: white;
  }

  &:after {
    content: "";
    @apply block absolute w-full h-32 top-0 left-0 hidden;
    background: linear-gradient(
      hsla(
          var(--background-hue),
          var(--background-saturation),
          var(--background-lightness),
          1
        )
        0%,
      hsla(
          var(--background-hue),
          var(--background-saturation),
          var(--background-lightness),
          0
        )
        100%
    );
    z-index: -1;
  }

  h1 a {
    @apply px-0 pl-2;
    @apply text-xl;
    color: var(--nav-color);
    transition: color var(--background-transition-duration) ease;
  }

  ul {
    @apply ml-auto flex;
  }

  a {
    @apply relative;
  }

  a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: background-color $anim-timing $anim-curve;
  }

  a {
    @apply px-4 py-2 inline-block;
  }

  span {
    @apply text-xl;
    display: block;
    position: relative;
    text-decoration: none;
    font-family: "Varela Round", sans-serif;
    position: relative;
    margin: 0;
    line-height: 1;
    white-space: nowrap;
    color: $color;
    transition: color var(--background-transition-duration) ease;
  }

  span:after {
    content: "";
    background-color: $color;
    transition: background-color var(--background-transition-duration) ease;
    width: 100%;
    height: 0.125rem;
    display: block;
    margin-top: 0.125rem;
    border-radius: 3px;
    position: absolute;
    top: 100%;
    transform: scaleX(0) rotate(0.001deg);
    transform-origin: left center;
    transition: transform $anim-timing $anim-curve,
      transform-origin 0s $anim-timing;
  }

  li.active a span:after {
    max-width: 0.9rem;
    transform: rotate(0.001deg);
    transition: max-width $anim-timing $anim-curve;
  }

  a:hover span:after,
  li.active a:hover span:after {
    max-width: 100%;
    transform: scaleX(1) rotate(0.001deg);
    transform-origin: right center;
  }
}
