.section {
  @apply relative w-full min-h-screen flex items-center justify-center;

  &--padding {
    @apply py-48;
  }
  &--half-height {
    min-height: 50vh;
  }
  &--one-and-half-height {
    min-height: 150vh;
  }
  &--with-wave-separator {
    min-height: calc(100vh + 100px);
  }
  &--half-padding {
    @apply py-24;
  }
  &--margins {
    margin: #{$base-size * 4} #{$base-size * 4};
    width: calc(100vw - #{$base-size * 8});
    height: calc(100vh - #{$base-size * 8});
    min-height: calc(100vh - #{$base-size * 8});
  }

  &--borders {
    background: var(--background-subtle-gray-color);
    border-top: 1px solid var(--text-gray-color);
    border-bottom: 1px solid var(--text-gray-color);
  }

  &--border-top {
    border-top: 1px solid var(--text-gray-color);
  }

  &--border-bottom {
    border-bottom: 1px solid var(--text-gray-color);
  }
}

.section__container {
  position: relative;
  width: 100%;
}
