.section {
  @apply relative min-h-screen flex items-center justify-center;
  width: 100%;

  &--with-padding {
    @apply py-48;
  }
  &--with-half-height {
    min-height: 50%;
  }
  &--with-half-padding {
    @apply py-24;
  }
}

.section__content {
  position: relative;
  width: 100%;
  z-index: 2;
}
