.separator {
  position: relative;
  width: 100%;
  display: block;
  height: $base-size * 2;
  background-color: black !important;
}

.separator-2 {
  position: relative;
  width: 100%;
  display: block;
  height: $base-size * 2;
  &:after {
    content: "";
    position: absolute;
    background-color: black !important;
    width: 100%;
    height: $base-size;
    top: $base-size / 2;
    left: 0;
  }
}

.separator-3 {
  position: relative;
  width: 100%;
  display: block;
  height: $base-size * 2;
  &:after {
    content: "";
    position: absolute;
    background-color: black !important;
    width: 100%;
    height: $base-size / 2;
    top: $base-size - ($base-size / 4);
    left: 0;
  }
}
