.separator {
  position: relative;
  width: 100%;
  display: block;
  height: $base-size * 2;
  background-color: black !important;
}

.separator-2 {
  position: relative;
  width: 100%;
  display: block;
  height: $base-size * 2;
  &:after {
    content: "";
    position: absolute;
    background-color: black !important;
    width: 100%;
    height: $base-size;
    top: $base-size / 2;
    left: 0;
  }
}

.separator-3 {
  position: relative;
  width: 100%;
  display: block;
  height: $base-size * 2;
  &:after {
    content: "";
    position: absolute;
    background-color: black !important;
    width: 100%;
    height: $base-size / 2;
    top: $base-size - ($base-size / 4);
    left: 0;
  }
}

.wave {
  position: relative;
  width: 100px;
  display: block;
  height: $base-size * 2;
  line-height: $base-size * 2;
}

.wave:after {
  content: "";
  position: absolute;
  transform: rotate(270deg);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 4 20'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .7s linear infinite;}@keyframes shift {from {transform:translateY(-20px);}to {transform:translateY(0);}}%3C/style%3E%3Cpath fill='none' stroke='%23000' stroke-width='1' class='st0' d='M.5,0 c 0,5,3,5,3,10 s -3,5,-3,10 c 0,5,3,5,3,10 s -3,5,-3,10'/%3E%3C/svg%3E");
  width: 10px;
  height: 100px;
  top: -37.5px;
  left: 45px;
}
