.square-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($base-size * 15, 1fr));
  grid-gap: $base-size;
}

.square-grid__item {
  @apply entity;
  background: var(--background-color);
  border: 1px solid var(--text-gray-color);
  display: grid;
  place-items: center;
  &::before {
    // for apsect ratio
    content: "";
    display: block;
    padding-bottom: 100%;
    grid-area: 1 / 1 / 2 / 2;
  }
  img {
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
  }
}
