.stamp {
  width: ($base-size * 16);
  height: ($base-size * 16);
  display: inline-block;
  text-align: center;
  mix-blend-mode: difference;
  // transform: translate(calc(50vw - 100px), 100px);
  z-index: 999999999999;
  border-radius: 100%;
  background: black;
}

.stamp__text {
  font-size: 70px;
  font-family: "Inter";
  font-weight: 500;
  fill: #111;
  background: #333;
}

.stamp__asterisk {
  font-size: 450px;
  transform: translate(133px, 485px);
  line-height: 1;
  font-family: "Inter";
  font-weight: 500;
}

.black {
  @apply relative;
  .stamp {
    position: absolute;
    top: -($base-size * 16);
    left: 0;
    right: 0;
    margin: auto 0;
  }
  .stamp path {
    fill: white;
  }

  .stamp__text {
    fill: white;
    background: white;
  }

  .stamp__asterisk {
    fill: white;
    background: white;
  }
}
