<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="hero contact page page--with-bottom-border bg-yellow">
            <div class="page__background"></div>
            <div>
                <canvas id="canvas"></canvas>
                <div class="hero__content">
                    <h1 class="hero__content__title">
                        <span class="hero__content__title__word"><span class="hero__content__title__word__content">Always</span></span>
                        <span class="hero__content__title__word"><span class="hero__content__title__word__content">keen</span></span>
                        <br/>
                        <span class="hero__content__title__word"><span class="hero__content__title__word__content">for</span></span>
                        <span class="hero__content__title__word"><span class="hero__content__title__word__content">a</span></span>
                        <span class="hero__content__title__word"><span class="hero__content__title__word__content">good</span></span>
                        <br/>
                        <span class="hero__content__title__word"><span class="hero__content__title__word__content">collab</span></span>
                    </h1>
                </div>
                <div class="container">
                    <p class="hero__content__sub-title">
                        Feel free to write me an email at
                        <span class="click-to-copy-container">
                            <a id="click-to-copy" href="mailto:write@tfrere.fr" class="button">
                                <span class="button__content">write@tfrere.com</span>
                            </a>
                            <span class="click-to-copy-container__info-message">Copied to clipboard !</span>
                        </span>
                    </p>
                    <p class="hero__content__text">I’m available in <span class="underline underline--small">full remote</span> from Metz, France</p>
                </div>
            </div>

        </div>
        {{- partial "js.html" . -}}
        </div>
        <script>
                $(function() {

                    let clickToCopyTimeout = null;

                    $("#click-to-copy").on("click",(e)=>{
                        e.preventDefault();
                        e.stopPropagation();
                        navigator.clipboard.writeText("write@tfrere.fr").then(function() {
                            $(".click-to-copy-container__info-message").addClass("show");
                            clearTimeout(clickToCopyTimeout);
                            clickToCopyTimeout = window.setTimeout(()=>{
                                $(".click-to-copy-container__info-message").removeClass("show");
                            }, 1000);
                        }, function() {
                            window.location.href = "mailto:write@tfrere.fr";
                        });
                    });

                    // let color = "white";
                    // let speed = 2;
                    // let size = 6;
                    // let number_of_boids = 500;
                    
                    // canvas = document.getElementById('canvas');
                    
                    // var boidsInstance = new Boids(canvas, speed, size, number_of_boids);
                    
                    // boidsInstance.render();

                    var timeline = anime.timeline({
                    loop: false,
                    duration: 400,
                    });

                    anime.set("#canvas", {
                        opacity: 0
                    });

                    anime.set(".hero__content__title__word__content", {
                    translateY: "+=180px",
                    });

                    anime.set(".hero__content__sub-title", {
                    translateY: "+=25px",
                    opacity:0
                    });

                    anime.set(".hero__content__text", {
                    translateY: "+=25px",
                    opacity:0
                    });

                    anime.set(".hero__content__socials__item", {
                    translateY: "+=25px",
                    opacity:0
                    });

                    var animation = timeline
                    .add({
                        targets: ".hero__content__title__word__content--first",
                        delay: 500
                    })
                    .add({
                        targets: ".hero__content__title__word__content",
                        translateY: "-=180px",
                        easing: "easeOutQuart",
                        delay: anime.stagger(50),
                    }, "-=300")
                    .add({
                        targets: "#canvas",
                        opacity: 1,
                        easing: "linear",
                        duration:300
                    }, "-=200")
                    .add({
                        targets: ".hero__content__sub-title",
                        translateY: "-=25px",
                        easing: "easeOutQuart",
                        opacity:1,
                        duration: 250,
                    }, "-=150")
                    .add({
                        targets: ".hero__content__text",
                        translateY: "-=25px",
                        easing: "easeOutQuart",
                        opacity:1,
                        duration: 250,
                    }, "-=150")
                    .add({
                        targets: ".hero__content__socials__item",
                        translateY: "-=25px",
                        easing: "easeOutQuart",
                        opacity:1,
                        delay: anime.stagger(100, {from: 'center'}),
                    })

                });
        </script>
    </body>
</html>

