{{- $lead := .Get "lead" -}}
{{- $text := .Get "text" -}}

<div class="project-introduction">
  <div class="project-introduction__content">
    <div class="project-introduction__content__label fade-in-top" data-scroll data-scroll-offset="20%" data-scroll-class="is-in-viewport">
      <label>Introduction</label>
    </div>
    <div class="project-introduction__content__text fade-in-top fade-in-top--delay-2" data-scroll data-scroll-offset="20%" data-scroll-class="is-in-viewport">
        <p class="project-lead">
            {{ $lead | markdownify }}
        </p>
        <p class="base-text">
            {{ $text | markdownify }}
        </p>
    </div>
  </div>
</div>
