{{- $image_src := .Get "src" -}}
{{- $text := .Get "text" -}}
{{- $image_files := (.Page.Resources.Match (printf "%s*" $image_src)) -}}
{{ with $image_files }}
    {{ range $image := . }}
        {{ $width := float $image.Width }}
        {{ $height := float $image.Height }}
        {{ $division := div $height $width }}
        {{ $padding := mul $division 100 }}
        <div>
            <div class="project-parallax-image fade-in-top" data-scroll data-scroll-offset="25%" data-scroll-class="is-in-viewport">
                <!-- "data-scroll-delay" "0.1" -->
                <div class="project-parallax-image__image-container" style="padding-bottom:{{ print $padding }}%;">
                {{ partial "responsive-image" (dict "Site" $.Site 
                "image" $image 
                "attrs" (dict "alt" "$image" "class" "lazy project-parallax-image__image-container__image" "data-scroll" "" "data-scroll-speed" "-0.5")) }}
                </div>
            </div>
            <p class="project-image__text">{{$text}}</p>
        </div>
    {{ end }}
{{ end }}