{{- $image_src := .Get "src" -}}

{{- /* Find all files with filename (without suffix) matching "src" parameter. */ -}}
{{- $image_files := (.Page.Resources.Match (printf "%s*" $image_src)) -}}

{{- /* Find in page bundle all valid video files with matching name. */ -}}
{{ with $image_files }}
    {{ range $image := . }}
        <!-- variables used for img tag -->
        {{ $imgSrc := "" }}
        {{ $imgSrcSet := slice }}

        <!-- uses settings from config.toml depending on orientation -->
        {{ $widths := $.Site.Params.landscapePhotoWidths }}
        {{ if gt $image.Height $image.Width }}
        {{ $widths = $.Site.Params.portraitPhotoWidths }}
        {{ end }}

        {{ $width := float $image.Width }}
        {{ $height := float $image.Height }}
        {{ $division := div $height $width }}
        {{ $padding := mul $division 100 }}

        <!--
        Add URL for each width to $imgSrcSet variable
        format: "/path/img_1000.jpg 1000w,/path/img_500.jpg 500w"
        Note: the first URL is used as "fallback" src in $imgSrc.
        -->
        {{ range $widths }}
        {{ $srcUrl := (printf "%dx" . | $image.Resize).RelPermalink }}
        {{ if eq $imgSrc "" }}{{ $imgSrc = $srcUrl }}{{ end }}
        {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) }}
        {{ end }}
        {{ $imgSrcSet = (delimit $imgSrcSet ",") }}

        <img alt="{{ $imgSrc }}" data-lazy data-src="{{ $imgSrc }}" data-srcset="{{ $imgSrcSet }}" style="padding-bottom:{{ print $padding }}%;" >

        <!-- <picture id="overview-cameragallery-night-mode-1-1" class="overview-cameragallery-night-mode-1 loaded" data-lazy="" data-picture-loaded="">
            <source srcset="/v/iphone-13/b/images/overview/cameragallery/night_mode_1__daaxiqngtt8i_small.jpg, /v/iphone-13/b/images/overview/cameragallery/night_mode_1__daaxiqngtt8i_small_2x.jpg 2x" media="(max-width:734px)">
            <source srcset="/v/iphone-13/b/images/overview/cameragallery/night_mode_1__daaxiqngtt8i_medium.jpg, /v/iphone-13/b/images/overview/cameragallery/night_mode_1__daaxiqngtt8i_medium_2x.jpg 2x" media="(max-width:1068px)">
            <source srcset="/v/iphone-13/b/images/overview/cameragallery/night_mode_1__daaxiqngtt8i_large.jpg, /v/iphone-13/b/images/overview/cameragallery/night_mode_1__daaxiqngtt8i_large_2x.jpg 2x" media="(min-width:0px)">
            <img src="/v/iphone-13/b/images/overview/cameragallery/night_mode_1__daaxiqngtt8i_large.jpg" onload="__lp(event)" alt="A low-light photo of a person taken with Night Mode.">
        </picture> -->

    {{ end }}
{{ end }}