$vr-grid-color: var(--gray-color);
$vr-base-size: $base-size * 4;
$vr-half-size: $vr-base-size / 2;
$vr-line-thickness: 0.5px;
$vr-grid-z-index: 10;

.vr-show-entities .entity {
  background: var(--subtle-gray-color) !important;
}

.vr-show-grid {
  height: 100%;
  &:before,
  &:after {
    content: "";
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: $vr-grid-z-index;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
  }
  &:after {
    opacity: 0.5;
    background: repeating-linear-gradient(
        90deg,
        $vr-grid-color,
        $vr-grid-color $vr-line-thickness,
        transparent 0,
        transparent $vr-half-size - $vr-line-thickness,
        $vr-grid-color 0,
        $vr-grid-color $vr-half-size + $vr-line-thickness,
        transparent 0,
        transparent $vr-base-size + $vr-line-thickness,
        $vr-grid-color 0,
        $vr-grid-color $vr-base-size
      ),
      repeating-linear-gradient(
        180deg,
        $vr-grid-color,
        $vr-grid-color $vr-line-thickness,
        transparent 0,
        transparent $vr-half-size - $vr-line-thickness,
        $vr-grid-color 0,
        $vr-grid-color $vr-half-size + $vr-line-thickness,
        transparent 0,
        transparent $vr-base-size - $vr-line-thickness,
        $vr-grid-color 0,
        $vr-grid-color $vr-base-size
      );
  }
}
