@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap");

$base-size: 12px;

$oswald-cap-height: 0.815;
$nunito-sans-cap-height: 0.71;

$vr-font-size: 24px;
$vr-number-of-steps: 24;

@import "_grid.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 900;
  pointer-events: none;
  color: var(--text-color);
}

p,
span {
  font-family: "Nunito Sans";
  color: var(--text-color);
}

.black {
  @apply relative w-full;
  background: var(--background-color);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: var(--text-color);
  }
}

.heading--center {
  @apply text-center w-full inline-block;
}

.heading-0 {
  display: block;
  font-size: ($base-size * 14);
  line-height: ($base-size * 14);
  font-family: Oswald;
  // font-kerning: normal;
  @apply my-0 py-0 font-bold;
}

.heading-1 {
  display: block;
  font-size: ($base-size * 12);
  line-height: ($base-size * 12);
  font-family: Oswald;
  // font-kerning: normal;
  @apply my-0 py-0 font-bold;
}

.heading-2 {
  display: block;
  font-size: ($base-size * 10);
  line-height: ($base-size * 10);
  font-family: Oswald;
  // font-kerning: normal;
  @apply my-0 py-0 font-bold;
}

.heading-3 {
  display: block;
  font-size: ($base-size * 8);
  line-height: ($base-size * 8);
  font-family: Oswald;
  // font-kerning: normal;
  @apply my-0 py-0 font-bold;
}

.heading-4 {
  display: block;
  font-size: ($base-size * 6);
  line-height: ($base-size * 6);
  font-family: Oswald;
  // font-kerning: normal;
  @apply my-0 py-0 font-bold;
}

.heading-5 {
  display: block;
  font-size: ($base-size * 4);
  line-height: ($base-size * 4);
  font-family: Oswald;
  // font-kerning: normal;
  @apply my-0 py-0 font-bold;
}

.heading-6 {
  display: block;
  font-size: ($base-size * 2);
  line-height: ($base-size * 2);
  font-family: Oswald;
  // font-kerning: normal;
  @apply my-0 py-0 font-bold;
}

// TITLE EFFECTS

.word,
.landing__title__word {
  overflow: hidden;
  position: relative;
  display: inline-block;
  pointer-events: none;
  margin: -20px 0;
  line-height: 1.2;
}

.word__content,
.landing__title__word__content,
.landing__title__word__content--first {
  display: inline-block;
  margin: 0;
  line-height: 1;
}

// TEXTS

.text-hero {
  @apply inline-block my-0 py-0;
  font-size: ($base-size * 6);
  line-height: ($base-size * 7);
  font-family: Nunito Sans;
}

.text-lead {
  display: inline-block;
  font-size: ($base-size * 4);
  line-height: ($base-size * 5);
  font-family: Nunito Sans;
  @apply my-0 py-0;
}

.text-half-lead {
  // width: 50ch;
  font-size: ($base-size * 3);
  line-height: ($base-size * 4);
  font-family: Nunito Sans;
  @apply my-0 py-0;
  margin-bottom: $base-size * 2;
}

.text-base {
  // width: 50ch;
  font-size: ($base-size * 2);
  line-height: ($base-size * 3);
  font-family: Nunito Sans;
  @apply my-0 py-0;
  margin-bottom: $base-size * 2;
  font-weight: 500;
}

.text-small {
  // width: 50ch;
  font-size: ($base-size * 1.5);
  line-height: ($base-size * 2.5);
  font-family: Nunito Sans;
  @apply my-0 py-0;
  margin-bottom: $base-size * 2;
  font-weight: 500;
}

.text--center {
  @apply text-center w-3/4 mx-auto block;
}

@import "vertical-rythm-space";

.text-stroke {
  color: var(--background-color) !important;
  // TO FIX : take care of IE 11
  -webkit-text-stroke: 1px var(--text-color) !important;
  // Alternative ( heavier in term of perfs ) ->
  // text-shadow: -1px -1px 0 var(--text-color), 1px -1px 0 var(--text-color),
  //   -1px 1px 0 var(--text-color), 1px 1px 0 var(--text-color);
}
